{% extends "tsar.html" %}

{% block head %}
	<script type="text/javascript" src="/static/js/chosen.jquery.min.js"></script>
	<link type="text/css" rel="stylesheet" href="/static/css/chosen.css" />
<style type="text/css">
.edit-interface { display: none; }
</style>
<script type="text/javascript">
$(document).ready(function(){
	$('#missing-qualifications-list').chosen();
	$('#missing-groups-list').chosen();
});
</script>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-6 col-md-7 col-sm-7">
		<section id="member-details">
			<h2>{{ member.user.first_name }} {{ member.user.last_name }}</h2>
			<div class="row">
				<div class="col-xs-6">
					<dl>
						<dt>Nafn:</dt>
						<dd>{{ member.user.first_name }} {{ member.user.last_name }}</dd>
						<dt>Kennitala:</dt>
						<dd>{{ member.member_id }}</dd>
						<dt>Símanúmer:</dt>
						{% for phone in member.phone_set.all %}
						<dd><a href="tel:{{ phone.number }}">{{ phone.number }}</a></dd>
						{% endfor %}
						<dt>Tölvupóstfang</dt>
						<dd><a href="mailto:{{ member.user.email }}">{{ member.user.email }}</a></dd>
						<dt>Heimilisfang:</dt><dd>{{ member.address }}</dd>
						<dt>Staða:</dt>
						<dd>{{ member.position }}</dd>
					</dl>
				</div>
				<div class="col-xs-6">
			<div id="profile-picture"><img src="/static/img/hssr-merki.png" alt="Member profile picture" class="img-responsive" /></div>
				</div>
			</div>
		</section>
	</div>

	<div class="col-lg-3 col-md-5 col-sm-5">
		<section id="member-groups">
			<h2>Hópar
				<input type="button" class="btn btn-default pull-right btn-sm" value="Sýsla" style="vertical-align: bottom;" onclick="$('#member-groups-edit').toggle('600');$(this).toggleClass('btn-primary btn-default');($(this).val()=='Lokið')?$(this).val('Sýsla'):$(this).val('Lokið');" />
			</h2>
			<ul>
{% for group in member.group_set.all %}
				<li><a href="/hopur/{{ group.slug }}">{{ group.title }}</a></li>
{% endfor %}
			</ul>
			<div id="member-groups-edit" class="input-append edit-interface">
				<select id="missing-groups-list" multiple data-placeholder="Nafn">
			{% for q in missing_groups_list %}
					<option>{{ q }}</option>
			{% endfor %}
				</select>
	<!--<input type="text" value="Nafn" />-->
				<input type="button" class="btn btn-default" value="Bæta við" />
			</div>
		</section>

		<section id="member-qualifications">
			<h2>Hæfni
				<input type="button" class="btn btn-default pull-right btn-sm" value="Sýsla" style="vertical-align: bottom;" onclick="$('#member-qualifications-edit').toggle('600');$(this).toggleClass('btn-primary btn-default');($(this).val()=='Lokið')?$(this).val('Sýsla'):$(this).val('Lokið');" />
			</h2>
			<ul>
				<li>Frímerkjasöfnun (rennur út <time datetime="2028-11-22">eftir 49 mánúði</time>)</li>
				<li>Réttritun (rennur út <time datetime="2028-11-22">á morgun</time>)</li>
				<li>Heilaskurðlæknignar</li>
			</ul>
			<div id="member-qualifications-edit" class="input-append edit-interface">
				<select id="missing-qualifications-list" multiple data-placeholder="Nafn">
			{% for q in missing_qualifications_list %}
					<option>{{ q }}</option>
			{% endfor %}
				</select>
	<!--<input type="text" value="Nafn" />-->
				<input type="button" class="btn btn-default" value="Bæta við" />
			</div>
		</section>
	</div>

	<div class="clearfix visible-md visible-sm visible-xs"></div>
	<div class="col-lg-3">
		<section id="member-events">
			<!-- TODO: This must be modified to list events that the member actually attended. -->
			<h2>Seinustu viðburðir</h2>
			<ul>
{% for invitation in member.memberinvitation_set.all %}
				<li><a href="/vidburdur/{{ invitation.event_role.event.id }}">{{ invitation.event_role.event.title }}</a></li>
{% endfor %}
			</ul>
		</section>
	</div>
		
</div><!-- /.row -->

<div class="row">
	<div class="col-sm-12">
		<section id="tolfraedi">
			<h2>Tölfræði</h2>
		</section>
	</div>
</div><!-- /.row -->
{% endblock %}
