Django>=1.4.5,<1.5
Feedjack==0.9.16
django-bootstrap-toolkit==2.8.0
django-evolution==0.6.8
django-paintstore==0.2
feedparser==5.1.3
python-dateutil==2.1
simplejson==3.3.0
six==1.2.0
textile==2.1.5
wsgiref==0.1.2
