{% extends "tsar.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

{% if validlink %}

<p>Vinsamlegast sláðu inn nýtt lykilorð tvisvar.</p>

<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">Nýtt lykilorð:</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">Nýtt lykilorð aftur:</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="Endursetja lykilorð" /></p>
</form>

{% else %}

<p>Hlekkurinn sem þú fylgdir er ekki í gildi, hugsanlega þar sem hann hefur þegar verið notaður.  Vinsamlegast sæktu aftur um endursetningu á lykilorðinu.</p>

{% endif %}

{% endblock %}
