{% extends "tsar.html" %}

{% block head %}
<style>
.events_list { list-style: none; margin-left: 0.3em; }
.overflow { display: none; }
.h5 { color: liturinn; background-color: bakgrunnurinn; }
</style>
<script>
$(document).ready(function(){
   $('.respond-icon').click(function(event) { event.stopPropagation(); checkin(this, 'Checkin'); } );
});
</script>
{% endblock %}

{% block page_title %}<h1>Innskráning í húsi</h1>{% endblock %}

{% block content %}
	
<div class="row">
	{% for event in events_list %}
	<div class="col-md-3" height:400px>
		<section>
			<h2 class="list-group-item-heading">{{event.title}}</h2>
			<ul id="checkin0" class="events_list list-unstyled">
			{% for event_role in event.eventrole_set.all %}		
			<div style="border-bottom: 1px solid #eee;">{{event_role.role.title}}<br></div>
				<ul class="events_list list-unstyled">
         {% for member_response in event_role.memberresponse_set.all %}
            {% if member_response.response == 'Y' %}
            	<li>
            		<span id="event_attend-{{event.id}}_{{ member_response.member.id }}_status_icon" class="icon-circle status-icon unclear-icon"></span>
            		{{ member_response.member }}{{ event_role.title }}
            		<span class="response-icons">
					<span id="attend-{{event.id}}_{{ member_response.member.id }}" data-member="{{ member_response.member.id }}" data-eventid="{{event.id}}" data-roleid="{{event_role.role.id}}" data-action="attend" data-eventroleid="{{event_role.id}}" class="respond-icon icon-plus-sign"></span>
					</span>
            	</li>{% endif %}
         {% endfor %}
               </ul>
			</li>
			{% endfor %}
			</ul>
		</section>
	</div>
	{% endfor %}
</div>

{% endblock %}
