/*
** code.css 
** Cascading style sheet - created 20.11.2003. - Martin Swift
*/

.latex, .latex-center, .latex-right {
	width: 389px; /* Full vídd texta á a4 síðu er 389px. Padding-inu þarf svo að bæta við. */
	margin: 0em 1em;
	padding: .5em 5em;
	border: thin solid #999;
}
.latex-center {
	text-align: center;
}
.latex-right {
	text-align: right;
}
code, kbd, pre.code, pre.kbd, pre.prompt, pre.gnuplot {
	font-family: Courier, monospace;
	overflow: auto;
}
pre.code, pre.kbd, pre.prompt {
	margin: .5em 1em;
	padding: .5em;
	border: 1px solid #999;
}
p + pre.code, p + pre.kbd, p + pre.prompt {
	margin-top: -.7em;
}
pre.code + p, pre.kbd + p, pre.prompt + p {
	margin-top: -.2em;
}
pre.prompt:before	{ content: "$ " }
