/* Layout */
body { max-width: 90em; }
#navigation { padding: .4em; }
h1 { margin-top: 10px; }
h1, article { padding-left: 10px; }

//article { margin: 1em; }
#admin-links { margin: .5em; }
#admin-links a, #navigation a { font-weight: bold; }
#admin-links, #search-field { float: right; }
/*#admin-links { position: absolute; right: .5em; top: .5em; }
#search-field {
	position: absolute;
	top: 35px;
	right: 30px;
}
*/
section {
	border-radius: .5em;
	padding: .5em;
	margin: 0;
	margin-bottom: 1.5em;
//	margin: .25em;
}
//section + section { margin-top: 1.5em; }

/* Scaffolding */
div.full-width,
div.half-width,
div.third-width,
div.twothird-width { float: left; margin: 0em; padding: 0; }
div.full-width { width: 98%; }
div.half-width { width: 49%; }
div.third-width { width: 32.7%; }
div.twothird-width { width: 65.3%; }
//div#profile-picture {
//	float: right;
//	width: 120px;
//	height: 160px;
//	margin: 6px 2px 4px .2em;
//	position: relative;
//	text-align: right; }
//div#profile-picture img { position: absolute; bottom: 0; right: 0; }

td, th { padding: 0 .4em }

/* Calendar */
#dagatal tr td { height: 5em; }
#dagatal { width: 100%; table-layout: fixed; }
#dagatal td { width: 14%; height: 5em; border: thin solid #ddd; vertical-align: top; white-space:nowrap; overflow: visibe; }
#dagatal td div { overflow: hidden; }
#dagatal td.i_dag { border: 2px solid #aaf; z-index: -1; }
#dagatal td.laugardagur, #dagatal td.sunnudagur { background-color: #eef; }
.dagatal_vidburdur { width: 100%; background-color: #ddf; }

/* Look */
body {	background-image: url("/static/img/tsar_background-transparent-4.png");
/*	background-color: rgb(229,187,124);*/
	background-color: white;
	background-repeat: no-repeat;
	background-position: 100px 50px;
	background-attachment: fixed; }
h1 {
	padding: 4px 4px 4px .3em;
	font-variant: small-caps;
	font-size: 2.57em;
}
h1, h2, h3 {
	margin: 0;
	color: #a33;
	font-family: "Times New Roman", serif;
}
h2 {
	font-weight: bol; ont-size: normal;
	font-size: 1.54em;
}
h3 {
	font-weight: bol; ont-size: normal;
	font-size: 1.4em;
	margin-left: .5em;
}
#navigation {
	background-color: #eee; }
/*#admin-links a, #navigation a {
	color: #a33; }*/
#search-field {
	border: thin solid white;
}
date, time {	color: gray; font-size: smaller; }
section {
	background-color: rgba(255,255,255,0.75);
/*	border: thin solid #eeb; */
	border: thin solid #dde;
}
div#profile-picture {
	background-color: #eee;
	border: 1px solid #ddd;
	color: #ddd; }
#event-dates-number-list { list-style: none }

/* Edit icons: The little icons for editing parts of events etc. */
.edit-icon { color: gray; margin-left: .3em; }
.edit-icon:hover { color: black; text-decoration: none; }

/*****************************************
 * My Page events list
 *****************************************/
/* Events */
.events_list > li:hover { background-color: #eef; }
.events_list > li:hover ul li:hover { background-color: #dde; }
.events_list li:hover ul { background-color: white; }

/* Roles */
.roles_list { list-style: none; margin-left: .5em; margin-right: .5em; display: none; }
.roles_list li { background-color: #fff; }
.roles_list li span { padding-left: 0; margin-left: 0px; }

.role_entry_header { border-bottom: 1px solid #eee; }
.role_entry-title  { display:inline-block; }
.role_entry-bttns  { font-size:smaller; color: gray; width: 3em; text-align: right; float: right; }

.event-list-item { padding: 2px; }
.eventrole-list-item { padding: 2px; }

/* The icon indicating the response (attended, absent, unclear or uninvited). */

.event-response-icon { text-align: middle; margin-left: 3px; }
.status-icon		{ cursor: pointer; }
.attending-icon  { color: rgb(70, 136, 71); }
.unclear-icon    { color: rgb(248, 148, 6); }
.absent-icon     { color: rgb(185, 74, 72); }
.notinvited-icon { color: #ddd; }
/* The box around the icons */
.response_icons { float: right; padding: 2px; }
/* The individual responce icons */
.respond-icon { cursor: pointer; color: #ccc; float: right; margin: 0; margin-top: 2px; }
.respond-icon.icon-plus-sign:hover { color: rgb(70, 136, 71); }
.respond-icon.icon-remove-sign:hover { color: rgb(185, 74, 72); }
.respond-icon.icon-question-sign:hover { color: rgb(248, 148, 6); }
.icon-ok-circle { color: rgb(70, 136, 71); }
.icon-ban-circle { color: rgb(185, 74, 72); }
.icon-circle-blank.not-invited { color: #ddd; }
.icon-circle-blank.invited { color: rgb(248, 148, 6); }

/* Form editing */
//.form-edit-icon { vertical-align: bottom; padding-top: .2em; padding-right: .2em; padding-bottom: .4em; padding-left: .4em; margin-left: 1em; font-size: .7em; height: 2.2em; width: 2.2em; }
