/* Layout */
/* Calendar */

/* Look */
body {	background-image: url("/static/img/tsar_background-transparent-4.png");
	background-color: white;
	background-repeat: no-repeat;
	background-position: 100px 50px;
	background-attachment: fixed;
}

article { margin: 0 40px 0 0 !important; } /* Marked important to keep the Bootstrap .container keyword from centering it. */

h1 {
	margin-top: 0 !important; /* Marked important to override Bootsrap. */
	margin-bottom: 20px;
	font-size: 2.57em;
}
h1, h2, h3 {
	color: #383;
}
h2, h3 {
	margin-top: .3em;
}
h2 {
	font-size: 1.54em;
}
h3 {
	font-size: 1.4em;
	margin-left: .5em;
}
date, time {	color: gray; font-size: smaller; }
section, .col-sm- { 
	background-color: rgba(255,255,255,0.75);
	border: thin solid #dde;
	border-radius: .5em;
	padding: .5em;
	margin-bottom: 1.5em;
}
div#profile-picture {
	background-color: #eee;
	border: 1px solid #ddd;
	color: #ddd; }
#event-dates-number-list { list-style: none }

/* Edit icons: The little icons for editing parts of events etc. */
.edit-icon { color: gray; margin-left: .3em; }
.edit-icon:hover { color: black; text-decoration: none; }

/*****************************************
 * My Page events list
 *****************************************/
/* Events */
.events_list li:hover { background-color: #eef; }
.events_list li ul li:hover { background-color: #dde; }
.events_list li:hover ul { background-color: white; }

/* Roles */
.roles_list { list-style: none; margin-left: .5em; margin-right: .5em; display: none; }
.roles_list li { background-color: #fff; }
.roles_list li span { padding-left: 0; margin-left: 0px; }

.role_entry_header { border-bottom: 1px solid #eee; }
.role_entry-title  { display:inline-block; }
.role_entry-minmax  { display:none; font-size:smaller; color: gray; width: 3em; text-align: right; float: right; }

.event-list-item { padding: 2px; overflow: hidden; white-space: nowrap; }
.eventrole-list-item { padding: 2px; }

/* The icon indicating the response (attended, absent, unclear or uninvited). */

.event-response-icon { text-align: middle; margin-left: 3px; }
.status-icon		{ cursor: pointer; }
.attending-icon  { color: rgb(70, 136, 71); }
.unclear-icon    { color: rgb(248, 148, 6); }
.absent-icon     { color: rgb(185, 74, 72); }
.notinvited-icon { color: #ddd; }

/* The box around the icons */
.response-icons { position: absolute; right: 30px; }
/* The individual responce icons */
.event_responder { cursor: pointer; color: #ccc; margin: 0; margin-top: 2px; }
.event_responder.icon-plus-sign:hover { color: rgb(70, 136, 71); }
.event_responder.icon-remove-sign:hover { color: rgb(185, 74, 72); }
.event_responder.icon-question-sign:hover { color: rgb(248, 148, 6); }
.icon-ok-circle { color: rgb(70, 136, 71); }
.icon-ban-circle { color: rgb(185, 74, 72); }
.icon-circle-blank.not-invited { color: #ddd; }
.icon-circle-blank.unclear { color: rgb(248, 148, 6); }

/* Form editing */
.form-edit-icon { cursor: pointer; }
.edit-interface { cursor: pointer; }

.role_entry { background-color: #efefef; padding: .4em; margin-bottom: .4em; }
.role_entry-title { font-size: 1.28em; padding-top: .3em; }


/****** Various *****/
	/* Chosen tweak */
	.search-field input { min-height: 25px; }
