{% extends "tsar.html" %}
{% block page_title %}<h1>Hópar og flokkar</h1>{% endblock %}

{% block head %}
<style>
</style>
<script type="text/javascript">
//$(document).ready(function(){
//	$('#test').children().sort()
//	$('#test').children().sort(function(a, b){
//        var keyA = $(a).text();
//        var keyB = $(b).text();
//        if($($sort).hasClass('asc')){
//            return (keyA &gt; keyB) ? 1 : 0;
//        } else {
//            return (keyA &lt; keyB) ? 1 : 0;
//        }
//    });
//	$.each($('#test').children(), function(index, row){
//        $('#test').append(row);
//    });
//});
</script>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<section>
			<h2>Útkallshópar</h2>
			<ul id="test">
{% for group in group_list.all %}
	{% if group.group_type == 'UH' %}
				<li><a href="/hopur/{{ group.slug }}">{{ group.title }}</a></li>
	{% endif %}
{% endfor %}
			</ul>
		</section>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4">
		<section>
			<h2>Starfshópar</h2>
			<ul>
{% for group in group_list.all %}
	{% if group.group_type == 'AH' %}
				<li><a href="/hopur/{{ group.slug }}">{{ group.title }}</a></li>
	{% endif %}
{% endfor %}
			</ul>
		</section>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4">
		<section>
			<h2>Flokkar</h2>
			<ul>
{% for group in group_list.all %}
	{% if group.group_type == 'FL' %}
				<li><a href="/hopur/{{ group.slug }}">{{ group.title }}</a></li>
	{% endif %}
{% endfor %}
			</ul>
		</section>
	</div>
</div><!-- /.row -->

{% endblock %}
