{% extends "tsar.html" %}

{% block head %}
	<!--<script type="text/javascript" src="/static/js/development-bundle/ui/jquery-ui-1.8.21.custom.js"></script>-->
	<script type="text/javascript" src="/static/js/chosen.jquery.min.js"></script>
	<link type="text/css" rel="stylesheet" href="/static/css/chosen.css" />
<!-- Added for proper sorting: -->
	<script type="text/javascript" src="/static/js/sugar-1.3.9-custom.min.js"></script>
<!-- jQuery tablesorter -->
	<script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.tablesorter.parser-input-select.js"></script>
	<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/static/js/tsar.groups.js"></script>
<style>
//	.edit-interface { display: none; }
	#all_members_list_chzn { width: 80% !important; }
	.unsaved_entry { background-color: #edb; }
</style>
<script type="text/javascript">
$(document).ready(function(){

///////// BEGIN SNIPPET ////////////////////////
// see: https://github.com/Mottie/tablesorter/wiki/Language
// TODO: Why on earth am I not just able to reference sortBy from the script (sugar-1.3.9-custom) above???

	/* sortBy functions & helpers extracted and slightly modified from
  * Sugar Library v1.3.7
  * Freely distributable and licensed under the MIT-style license.
  * Copyright (c) 2012 Andrew Plummer
  * http://sugarjs.com/arrays#sorting
  */
  var array = {
    AlphanumericSortIgnoreCase  : true,
    AlphanumericSortEquivalents : {}
  },

  order = 'AÁÀÂÃĄBCĆČÇDĎÐEÉÈĚÊËĘFGĞHıIÍÌİÎÏJKLŁMNŃŇÑOÓÒÔPQRŘSŚŠŞTŤUÚÙŮÛÜVWXYÝZŹŻŽÞÆŒØÕÅÄÖ',
  // equiv = 'AÁÀÂÃ,CÇ,EÉÈÊË,IÍÌİÎÏ,OÓÒÔ,Sß,UÚÙÛÜ',
  // modified order to match Icelandic sorting - see https://github.com/Mottie/tablesorter/issues/212
  //order = 'AÁBCDÐEÉĘFGHIÍJKLMNOÓPQRSTUÚVWXYÝZÞÆÖ',
  equiv = '',

  sortBy = function(a,b){
    return typeof a === "string" && typeof b === "string" ? collateStrings(a,b) : a < b ? -1 : a > b ? 1 : 0;
  },

  // Alphanumeric collation helpers
  collateStrings = function(a, b) {
    var aValue, bValue, aChar, bChar, aEquiv, bEquiv, index = 0, tiebreaker = 0;
    a = getCollationReadyString(a);
    b = getCollationReadyString(b);
    do {
      aChar  = getCollationCharacter(a, index);
      bChar  = getCollationCharacter(b, index);
      aValue = getCollationValue(aChar);
      bValue = getCollationValue(bChar);
      if (aValue === -1 || bValue === -1) {
        aValue = a.charCodeAt(index) || null;
        bValue = b.charCodeAt(index) || null;
      }
      aEquiv = aChar !== a.charAt(index);
      bEquiv = bChar !== b.charAt(index);
      if (aEquiv !== bEquiv && tiebreaker === 0) {
        tiebreaker = aEquiv - bEquiv;
      }
      index += 1;
    } while (aValue != null && bValue != null && aValue === bValue);
    if (aValue === bValue) return tiebreaker;
    return aValue < bValue ? -1 : 1;
  },

  getCollationReadyString = function(str) {
    if (array.AlphanumericSortIgnoreCase) {
      str = str.toLowerCase();
    }
    return str.replace(array.AlphanumericSortIgnore, '');
  },

  getCollationCharacter = function(str, index) {
    var chr = str.charAt(index), eq = array.AlphanumericSortEquivalents || {};
    return eq[chr] || chr;
  },

  getCollationValue = function(chr){
    var order = array.AlphanumericSortOrder;
    return chr ? order.indexOf(chr) : null;
  },

  equivalents = {};

  array.AlphanumericSortOrder = $.map(order.split(''), function(str) {
    return str + str.toLowerCase();
  }).join('');

  $.each(equiv.split(','), function(i,set) {
    var equivalent = set.charAt(0);
    $.each(set.slice(1).split(''), function(i,chr) {
      equivalents[chr] = equivalent;
      equivalents[chr.toLowerCase()] = equivalent.toLowerCase();
    });
  });
/////////// END SNIPPET ////////////////////////

	// Once the document is ready, hide the edit-interface elements. TODO: only include this when the elements are included (i.e. when the user is a group manager).
	$('.edit-interface').hide();
	$('.form-edit-icon').show();

	/*
	 * We have a drop-down list of non-members to add members to the group.
	 */
	// We use the jQuery Chosen for the member selection, style it and add tablesorter to make it sortable:
	$('#non_members_list').chosen();
	$('#non_members_list_chzn').css('float', 'right');
	$("#group_members_list").tablesorter({
		sortList: [[0,0], [1,0]],
		textSorter : sortBy,
		headers: {
	      5: { sorter: 'checkbox' },
	      6: { sorter: 'checkbox' },
	      7: { sorter: 'checkbox' },
	      8: { sorter: 'checkbox' },
		},
	}); 

	/*
	 * When a member is chosen from the list of non-members, we have to add them to the group members list.
	 */
	$('#non_members_list').chosen().change( function() {
//		console.log('adding members');
		member_id=$(this).val();
		console.log('Add member_id: '+member_id);
		if (members[member_id]) {
			// If they are already a member (the user may have been removed and just added back), show the hidden entry.
			$('[data-member_id='+member_id+']').children('.member_name').children('input').val('member');
			$('[data-member_id='+member_id+']').show();
		} else {
			// If they are not yet a member then add an entry and give it an "unsave_entry" class.
			member=non_members[$(this).val()];
			username=member;
			phone="555 1234";
			email="dæmi@dæmi.is";
			member_entry = '<tr class="membership_entry unsaved_entry" data-member="'+member+'" data-member_id="'+member_id+'">'
								+ '<td><input class="edit-interface" type="checkbox" /></td>'
								+ '<td class="member_name"><a href="/felagi/'+username+'">'+member+'</a><input type="hidden" name="member['+member_id+']" value="add-member" /></td>'
								+ '<td class="member_phone">'+phone+'</td>'
								+ '<td class="member_email">'+email+'</td>'
								+ '<td><input class="edit-interface-checkbox" type="checkbox" checked="checked" /></td><!-- A -->'
								+ '<td><input class="edit-interface-checkbox" type="checkbox" /></td><!-- B -->'
								+ '<td><input class="edit-interface-checkbox" type="checkbox" /></td><!-- C -->'
								+ '<td><span class="icon-remove-sign edit-interface remove_member_entry"></span></td><!-- C --></tr>';
			$('#group_members_list tbody').prepend(member_entry);
		};
		$('#non_members_list option:selected').remove();
      $('#non_members_list').trigger('liszt:updated');
	});

	// Place the CSRF token in a js variable so that the form handler can send it to the view. 
   //csrf = "{{ csrf_token|escapejs }}"; 
   var csrftoken = $.cookie('csrftoken'); 
   console.log('CSRF (on page):'+csrftoken); 

});

/*
 * Maybe this is unnecessary, but to simplify adding and removing group member list entries, let's construct a couple of objects for members and non-members. 
 */
// These are the group members
members = {};
{% for member in group.members.all %}
members[{{ member.id }}]='{{ member }}';
{% endfor %}
// Non-group members
non_members = {};
{% for member in members %}
non_members[{{ member.id }}]='{{ member }}';
{% endfor %}

//	// Capture click events on edit icons and toggle to the edit form.
//	// The data to be hidden has an id such as "my_stuff-data" and the form to be displayed has the corresponding id "my_stuff-form"
//	$('.toggle-form').click(function() {
//		prefix = $(this).data('form_id-prefix');
//		$('#'+prefix+'-data').toggle();
//		$('#'+prefix+'-form').toggle();
//
//		// TODO: Not needed on all, but this is a useful hack to force the initial resizing...
//		$('#event_description-textarea').trigger('autosize.resize');
//	});

	/*
	 * Toggling the interface involves toggling the .edit-interface elements and then dis-or-enabling the checkboxes.
	 */
	function toggle_edit_interface() {
		$('.edit-interface').toggle('600');
		$('.edit-interface-checkbox').prop('disabled',!$('.edit-interface-checkbox').prop('disabled'));
	}

	/*
	 * When removing a member entry we need to remove the member from the list and, if they're previously a member, mark them for removal from the group.
	 */
	function remove_member_entry() {
	}
	$('.remove_member_entry').live('click',function(){
		member=$(this).parents('.membership_entry').data('member');
		member_id=$(this).parents('.membership_entry').data('member_id');
		/* If the member is a group member, just hide the person and mark them for removal on their hidden input field  */
		if (members[member_id]) {
			$(this).parents('.membership_entry').addClass('removed_entry');
      	$(this).parents('.membership_entry').fadeOut(300).slideUp({ duration: 500, queue: false });
			$(this).parents('.membership_entry').children('.member_name').children('input').val('remove-member');
			//console.log($(this).parents('.membership_entry').children('.member_name').children('input').val());
		// If the member isn't in the group, just remove the entry.
		} else {
			$(this).parents('.membership_entry').remove();
			
		}
		//console.log('removing member '+member+' with id '+member_id);
      //$(this).parents('.membership_entry').remove();
      $('#non_members_list').append('<option value='+member_id+'>'+member+'</option>');
      $('#non_members_list').trigger('liszt:updated');
   });

	/* When we press the reset buttion we want to flush the unsaved_entry's and add the members back to the non_members_list. */
	function reset_members_list() {
		/* Show removed entries */
		$('.removed_entry').toggle();
		$.each($('.removed_entry'), function() {
			member_id=$(this).data('member_id');
			console.log('Removing member '+member_id);
			// Reset the value to 'member'
			$(this).children('.member_name').children('input').val('member');
			console.log($(this).children('.member_name').children('a').val());
			console.log($(this).children('.member_name').children('input').val());
		});
		/* Remove the unsaved entries from the member list and add them back to the select list */
		$.each($('.unsaved_entry'), function() {
			member=$(this).data('member');
			member_id=$(this).data('member_id');
			console.log('removing member '+member+' with id '+member_id);
      	$(this).fadeOut(300).slideUp({ duration: 500, queue: false });
      	$(this).remove();
      	$('#non_members_list').append('<option value='+member_id+'>'+member+'</option>');
		});
		/* Update the chosen drop-down with the modified select list. */
      $('#non_members_list').trigger('liszt:updated');
		/* Reset the hidden member inputs */
		// TODO: Does this even work?
		//$.each($('input[type=hidden,value=delete]', function() {
		//	$(this).value('member');
		//});
	}

</script>
{% endblock %}

{% block page_title %}{{ group.title }}{% endblock %}

{% block content %}

<div class="row">
	<div class="span12">
		<section id="group-description">
{{ group.description }}
			<br />
{{ user.member }}
		</section>
	</div>

	<div class="span8">
		<section id="group-members" style="position: relative">
	{# Add the edit tools if the user is a group manager #}
	{% if "x" == "x" %}
<form style="margin-bottom: .5em;">
	<input type="hidden" name="group_id" value="{{ group.id }}" />
			<span class="icon-edit pull-right form-edit-icon edit-interface" style="display:inline" onclick="toggle_edit_interface()"></span>

			<div class="input-append edit-interface pull-right">
				<select id="non_members_list" class="pull-right" name="new_members[]" data-placeholder="Nafn">
					<option></option>
			{% for member in members %}
					<option value="{{ member.id }}">{{ member }}</option>
			{% endfor %}
				</select>
			</div>

			<div id="group_save_buttons" class="edit-interface" style="text-align: right; clear:both;">
      		<input type="reset" value="Hætta við" class="span2 btn" onclick="reset_members_list();toggle_edit_interface();" />
      		<input type="submit" value="Vista" class="span2 btn btn-primary" onclick="toggle_edit_interface();" />
			</div>
	{% endif %}
			<h2>Meðlimir
			</h2>
			<table id="group_members_list" class="table-hover table-condensed table tablesorter">
				<thead>
					<tr>
						<th style="width: 1.1em;"><input class="edit-interface" type="checkbox"></th>
						<th>Nafn</th>
						<th>Sími</th>
						<th>Tölvupóstfang</th>
						<th>A</th>
						<th>B</th>
						<th>C</th>
						<th style="width:1.1em;"></th>
					</tr>
				</thead>
				<tbody>
{% for member in group.members.all %}
					<tr class="membership_entry" data-member="{{ member }}" data-member_id="{{ member.id }}">
	<td><input class="edit-interface" type="checkbox"></td>
	<td class="member_name"><a href="/felagi/{{ member.user.username }}">{{ member.user.first_name }} {{ member.user.last_name }}</a>
		{% if forloop.counter == 2 %}<span class="icon-briefcase" style="margin-left:1em; color: gray;"></span>{% endif %}
		<input type="hidden" name="member[{{ member.id }}]" value="member" /></td>
	<td class="member_phone">{% for phone in member.phone_set.all %}{% if phone.is_primary %}{{ phone.number }}{% endif %}{% endfor %}</td>
	<td class="member_email">{% for email in member.email_set.all %}{% if email.is_primary %}{{ email.address }}{% endif %}{% endfor %}</td>
	<td><input class="edit-interface-checkbox" type="checkbox" disabled /></td><!-- A -->
	<td><input class="edit-interface-checkbox" type="checkbox" disabled /></td><!-- B -->
	<td><input class="edit-interface-checkbox" type="checkbox" disabled /></td><!-- C -->
	<td><span class="icon-remove-sign edit-interface remove_member_entry"></span> </td><!-- C -->
					</tr>
{% endfor %}
				</tbody>
			</table>
<!--
<div class="controls controls-row">
	<div class="pull-right">
		<input type="button" class="btn btn-danger" value="Endursetja" />
		<input type="button" class="btn btn-primary" value="Vista" />
	</div>
-->
<!--
			<div class="input-append edit-interface" style="width: 100%">
				<select id="non_members_list" name="new_members[]" multiple data-placeholder="Nafn">
			{% for member in members %}
					<option>{{ member }}</option>
			{% endfor %}
				</select>
-->
	<!--<input type="text" value="Nafn" />-->
<!--
				<input id="add_members" type="button" class="btn btn-rimary" value="Bæta við" />
			</div>
-->
	{% if "x" == "x" %}
</form>
	{% endif %}
<!--
</div>
-->
	<!--<div style="position:absolute;right:.5em;top:.5em;">-->
	<!--<input type="button" class="btn btn-danger" value="Breyta skráningu" />-->
	<!--<select>
		<option selected="true" disabled="true"></option>
		<option>Eyða úr hóp</option>
		<option>Breyta hæfni</option>
	</select> -->
		</section>

		<section id="group-qualifications">
			<h2>Hæfnir</h2>
			<ol style="list-style-type:upper-alpha;">
				<li>Kassabílagerð</li>
				<li>Sérhæfð bið</li>
				<li>Frímerkjasöfnun</li>
			</ol>
		</section>
	</div>

	<div class="span4">
		<section id="recent-events">
			<h2>Nýlegir viðburðir</h2>
			<ul>
{% for event in recent_events_list %}
				<li><a href="/vidburdur/{{ event.id }}">{{ event.title }}</a></li>
{% endfor %}
			</ul>
		</section>
		<section id="upcoming-events">
			<h2>Næstu viðburðir</h2>
			<ul>
{% for event in coming_events_list %}
				<li><a href="/vidburdur/{{ event.id }}">{{ event.title }}</a></li>
{% endfor %}

<!-- Er kannski betra að nota „invitation“ frekar en „event“? Sparar það eittthvað?
{% for invitation in group.groupinvitation_set.all %}
	<li><a href="/vidburdur/{{ invitation.event_role.event.id }}">{{ invitation.event_role.event.title }}</a></li>
{% endfor %}
-->
			</ul>
		</section>
	</div><!-- /.span4 -->
</div><!-- /.row -->
{% endblock %}
