{% extends "tsar.html" %}

{% block head %}
	<!--<script type="text/javascript" src="/static/js/development-bundle/ui/jquery-ui-1.8.21.custom.js"></script>-->
	<script type="text/javascript" src="/static/js/chosen.jquery.min.js"></script>
	<link type="text/css" rel="stylesheet" href="/static/css/chosen.css" />
<!-- Added for proper sorting: -->
	<script type="text/javascript" src="/static/js/sugar-1.3.9-custom.min.js"></script>
<!-- jQuery tablesorter -->
	<script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.tablesorter.parser-input-select.js"></script>
<style>
	.edit-interface { display: none; }
	#all_members_list_chzn { width: 80% !important; }
</style>
<script type="text/javascript">
$(document).ready(function(){

///////// BEGIN SNIPPET ////////////////////////
// see: https://github.com/Mottie/tablesorter/wiki/Language
// TODO: Why on earth am I not just able to reference sortBy from the script (sugar-1.3.9-custom) above???

	/* sortBy functions & helpers extracted and slightly modified from
  * Sugar Library v1.3.7
  * Freely distributable and licensed under the MIT-style license.
  * Copyright (c) 2012 Andrew Plummer
  * http://sugarjs.com/arrays#sorting
  */
  var array = {
    AlphanumericSortIgnoreCase  : true,
    AlphanumericSortEquivalents : {}
  },

  order = 'AÁÀÂÃĄBCĆČÇDĎÐEÉÈĚÊËĘFGĞHıIÍÌİÎÏJKLŁMNŃŇÑOÓÒÔPQRŘSŚŠŞTŤUÚÙŮÛÜVWXYÝZŹŻŽÞÆŒØÕÅÄÖ',
  // equiv = 'AÁÀÂÃ,CÇ,EÉÈÊË,IÍÌİÎÏ,OÓÒÔ,Sß,UÚÙÛÜ',
  // modified order to match Icelandic sorting - see https://github.com/Mottie/tablesorter/issues/212
  //order = 'AÁBCDÐEÉĘFGHIÍJKLMNOÓPQRSTUÚVWXYÝZÞÆÖ',
  equiv = '',

  sortBy = function(a,b){
    return typeof a === "string" && typeof b === "string" ? collateStrings(a,b) : a < b ? -1 : a > b ? 1 : 0;
  },

  // Alphanumeric collation helpers
  collateStrings = function(a, b) {
    var aValue, bValue, aChar, bChar, aEquiv, bEquiv, index = 0, tiebreaker = 0;
    a = getCollationReadyString(a);
    b = getCollationReadyString(b);
    do {
      aChar  = getCollationCharacter(a, index);
      bChar  = getCollationCharacter(b, index);
      aValue = getCollationValue(aChar);
      bValue = getCollationValue(bChar);
      if (aValue === -1 || bValue === -1) {
        aValue = a.charCodeAt(index) || null;
        bValue = b.charCodeAt(index) || null;
      }
      aEquiv = aChar !== a.charAt(index);
      bEquiv = bChar !== b.charAt(index);
      if (aEquiv !== bEquiv && tiebreaker === 0) {
        tiebreaker = aEquiv - bEquiv;
      }
      index += 1;
    } while (aValue != null && bValue != null && aValue === bValue);
    if (aValue === bValue) return tiebreaker;
    return aValue < bValue ? -1 : 1;
  },

  getCollationReadyString = function(str) {
    if (array.AlphanumericSortIgnoreCase) {
      str = str.toLowerCase();
    }
    return str.replace(array.AlphanumericSortIgnore, '');
  },

  getCollationCharacter = function(str, index) {
    var chr = str.charAt(index), eq = array.AlphanumericSortEquivalents || {};
    return eq[chr] || chr;
  },

  getCollationValue = function(chr){
    var order = array.AlphanumericSortOrder;
    return chr ? order.indexOf(chr) : null;
  },

  equivalents = {};

  array.AlphanumericSortOrder = $.map(order.split(''), function(str) {
    return str + str.toLowerCase();
  }).join('');

  $.each(equiv.split(','), function(i,set) {
    var equivalent = set.charAt(0);
    $.each(set.slice(1).split(''), function(i,chr) {
      equivalents[chr] = equivalent;
      equivalents[chr.toLowerCase()] = equivalent.toLowerCase();
    });
  });
/////////// END SNIPPET ////////////////////////

	$('#all-members-list').chosen();
	$("#group_members_list").tablesorter({
		sortList: [[0,0], [1,0]],
		textSorter : sortBy,
		headers: {
	      5: { sorter: 'checkbox' },
	      6: { sorter: 'checkbox' },
	      7: { sorter: 'checkbox' },
	      8: { sorter: 'checkbox' },
		},
	}); 
});
</script>
{% endblock %}

{% block page_title %}{{ group.title }}{% endblock %}

{% block content %}

<div class="row">
	<div class="span12">
		<section id="group-description">
{{ group.description }}
			<br />
{{ user.member }}
		</section>
	</div>

	<div class="span8">
		<section id="group-members" style="position: relative">
			<h2>Meðlimir
				<input type="button" class="btn pull-right btn-small" value="Sýsla" style="vertical-align: bottom;" onclick="$('.edit-interface').toggle('600');$(this).toggleClass('btn-primary');($(this).val()=='Lokið')?$(this).val('Sýsla'):$(this).val('Lokið');$('.edit-interface-checkbox').prop('disabled',!$('.edit-interface-checkbox').prop('disabled'));" />
			</h2>
			<table id="group_members_list" class="table-hover table-condensed table tablesorter">
				<thead>
					<tr><th style="width: 1.1em;"><input class="edit-interface" type="checkbox"></th><th>Nafn</th><th>Sími</th><th>Tölvupóstfang</th><th>A</th><th>B</th><th>C</th><th style="width:1.1em;"></th></tr>
				</thead>
				<tbody>
{% for member in group.members.all %}
					<tr>
	<td><input class="edit-interface" type="checkbox" /></td>
	<td><a href="/felagi/{{ member.user.username }}">{{ member.user.first_name }} {{ member.user.last_name }}</a></td>
	<td>{% for phone in member.phone_set.all %}{% if phone.is_primary %}{{ phone.number }}{% endif %}{% endfor %}</td>
	<td>{% for email in member.email_set.all %}{% if email.is_primary %}{{ email.address }}{% endif %}{% endfor %}</td>
	<td><input class="edit-interface-checkbox" type="checkbox" checked="checked" disabled="disabled" /></td><!-- A -->
	<td><input class="edit-interface-checkbox" type="checkbox" disabled="disabled" /></td><!-- B -->
	<td><input class="edit-interface-checkbox" type="checkbox" disabled="disabled" /></td><!-- C -->
	<td><span class="icon-remove-sign edit-interface"></span> </td><!-- C -->
					</tr>
{% endfor %}
				</tbody>
			</table>

<!--
<div class="controls controls-row">
	<div class="pull-right">
		<input type="button" class="btn btn-danger" value="Endursetja" />
		<input type="button" class="btn btn-primary" value="Vista" />
	</div>
-->
			<div class="input-append edit-interface" style="width: 100%">
				<select id="all-members-list" multiple data-placeholder="Nafn">
			{% for member in members %}
					<option>{{ member }}</option>
			{% endfor %}
				</select>
	<!--<input type="text" value="Nafn" />-->
				<input type="button" class="btn btn-rimary" value="Bæta við" />
			</div>
<!--
</div>
-->
	<!--<div style="position:absolute;right:.5em;top:.5em;">-->
	<!--<input type="button" class="btn btn-danger" value="Breyta skráningu" />-->
	<!--<select>
		<option selected="true" disabled="true"></option>
		<option>Eyða úr hóp</option>
		<option>Breyta hæfni</option>
	</select> -->
		</section>

		<section id="group-qualifications">
			<h2>Hæfnir</h2>
			<ol style="list-style-type:upper-alpha;">
				<li>Kassabílagerð</li>
				<li>Sérhæfð bið</li>
				<li>Frímerkjasöfnun</li>
			</ol>
		</section>
	</div>

	<div class="span4">
		<section id="recent-events">
			<h2>Nýlegir viðburðir</h2>
			<ul>
{% for event in recent_events_list %}
				<li><a href="/vidburdur/{{ event.id }}">{{ event.title }}</a></li>
{% endfor %}
			</ul>
		</section>
		<section id="upcoming-events">
			<h2>Næstu viðburðir</h2>
			<ul>
{% for event in coming_events_list %}
				<li><a href="/vidburdur/{{ event.id }}">{{ event.title }}</a></li>
{% endfor %}

<!-- Er kannski betra að nota „invitation“ frekar en „event“? Sparar það eittthvað?
{% for invitation in group.groupinvitation_set.all %}
	<li><a href="/vidburdur/{{ invitation.event_role.event.id }}">{{ invitation.event_role.event.title }}</a></li>
{% endfor %}
-->
			</ul>
		</section>
	</div><!-- /.span4 -->
</div><!-- /.row -->
{% endblock %}
