{% extends "tsar.html" %}
{% load humanize %}

{% block page_title %}Hjálparsveit Skáta í Reykjavík{% endblock %}

{% block content %}
<div class="full-width">
<section>
<h2>Tilkynningar</h2>
<p>
... skemmtilegt.
</p>
</section>
</div>

<div class="half-width">
<section id="vidburdir">
	<h2>Næstu viðburðir</h2>
  <ul>
{% for event in events_list %}
	<li><a href="/vidburdur/{{ event.id }}"/>{{ event.title }}</a> <date>{{ event.date_time_begin|naturaltime }}</li>
{% endfor %}
	</ul>
</section>
</div>

<div class="half-width">
<section>
<h2>Hæfni í boði</h2>
<!--Hæfnir sem eru í boði (næstu skref/námskeið í boði?).-->
<ul>
<li>Frímerkjasöfnun 2</li>
<li>Kassabílagerð 3 [<date>2011.02.31</date>]</li>
</ul>
<h2>Endurnýjun</h2>
<ul>
<li>Sérhæfð bið (rennur út <date>eftir 3 mánuði</date>)</li>
</ul>
</section>

<section>
  <h2>Fréttir</h2>
	<a href="http://www.hssr.is">HSSR</a>
	<ul>
		<li><a href="http://www.hssr.is/main/frettir.asp?t=2&id=1737"><span class="frett_titill">Breytingar á svörun við útkallsboðun</span></a> <date>22.maí. 2012 </date></li>
		<li><a href="http://www.hssr.is/main/frettir.asp?t=2&id=1736"><span class="frett_titill">UNDAC</span></a> <date>22.maí. 2012</date></li>
		<li><a href="http://www.hssr.is/main/frettir.asp?t=2&id=1735"><span class="frett_titill">Búðahópur kaupir 5kW ljósavél</span></a> <date>21.maí. 2012</date> </li>
		<li><a href="http://www.hssr.is/main/frettir.asp?t=2&id=1734"><span class="frett_titill">Útkall F2 rauður á Keflavíkurflugvelli</span></a> <date>18.maí. 2012</date></li>
		<li><a href="http://www.hssr.is/main/frettir.asp?t=2&id=1733"><span class="frett_titill">Samningur við KSÍ endurnýjaður</span></a> <date>18.maí. 2012</date></li>
	</ul>
	<a href="http://landsbjorg.is/">Landsbjörg</a>

	<ul>
<!-- Skoða: http://justquick.github.com/django-native-tags/contrib/feeds.html -->
	<li>http://landsbjorg.is/Rss.aspx?CatID=466</li>
	</ul>
<!-- Skoða: http://www.b-list.org/weblog/2007/dec/09/updates/ -->
</section>
</div>

{% endblock %}

{% block datetimestamp %}<time datetime="2011-02-23">23. febrúar 2011.</time>{% endblock %}
