{% extends "tsar.html" %}

{% block head %}
<style>
.events_list { list-style: none; margin-left: 0.3em; }
</style>
<script>
$(document).ready(function(){
   $('.respond-icon').click(function(event) { event.stopPropagation(); respond_to_event(this, 'My page'); } );
});
</script>
{% endblock %}
{% load humanize %}

{% block page_title %}Hjálparsveit Skáta í Reykjavík{% endblock %}

{% block content %}
<div class="full-width" style="display:none">
<section>
<h2>Tilkynningar</h2>
<p>
... skemmtilegt.
</p>
</section>
</div>

<div class="">
	<div class="row">
		<div class="span6"><!-- 1 of 2 columns -->
<section id="vidburdir">
	<span class="btn pull-right" onclick="$('#my_events').toggle();$('#all_events').toggle();$(this).toggleClass('active');"><i class="icon-user"></i></span>
	<h2>Næstu viðburðir</h2>
	<ul id="all_events" class="events_list">
{% for ed in all_events_dictionaries_list %}
		<li id="event-{{ ed.event.id }}" class="event-list-item"
 {% if ed.invitedroles_dictionaries_list %}
			onclick="
				if ($('#event_{{ ed.event.id }}_roles_list').is(':visible')) {
					$('#event_{{ ed.event.id }}_roles_list').hide();
					$('#event_{{ ed.event.id }}_response_icons').show();
					$(this).css('padding-bottom', '0');
					$(this).css('background-color', '#fff');
				} else {
					$('#event_{{ ed.event.id }}_roles_list').show();
					$('#event_{{ ed.event.id }}_response_icons').hide();
					$(this).css('padding-bottom', '.4em');
					$(this).css('background-color', '#eef');
				};
				$(this).children('span.status-icon').toggleClass('icon-circle icon-circle-blank');"{% endif %}>
		<span id="event_{{ ed.event.id }}_status_icon" 
	{% if ed.invitedroles_dictionaries_list %}
		{% if ed.positive_response %}
			class="icon-circle status-icon attending-icon"
		{% else %}
			{% if ed.unanswered_response %}
			class="icon-circle status-icon unclear-icon"
			{% else %}
			class="icon-circle status-icon absent-icon"
			{% endif %}
		{% endif %}
	{% else %}
			class="icon-circle-blank status-icon notinvited-icon"
	{% endif %}
		></span>

		<a href="/vidburdur/{{ ed.id }}/" onclick="event.stopPropagation()">{{ ed.event.title }}</a>
		<time datetime='{{ed.event.date_time_begin|date:"Y-m-d"}}'>{{ ed.event.date_time_begin|naturaltime }}</time>
		<span id="event_{{ ed.event.id }}_response_icons" class="response-icons"
	{% if ed.invitedroles_dictionaries_list|length == 1 %}
			data-eventrole="{{ ed.invitedroles_dictionaries_list.0.eventrole.id }}">
		{% if ed.positive_response %}
			<span id="absent-{{ ed.invitedroles_dictionaries_list.0.eventrole.id }}" data-action="absent" class="respond-icon icon-remove-sign"></span>
			<span id="unclea-{{ ed.invitedroles_dictionaries_list.0.eventrole.id }}" data-action="unclear" class="respond-icon icon-question-sign"></span>
		{% else %}
			{% if ed.unanswered_response %}
			<span id="absent-{{ ed.invitedroles_dictionaries_list.0.eventrole.id }}" data-action="absent" class="respond-icon icon-remove-sign"></span>
			<span id="attend-{{ ed.invitedroles_dictionaries_list.0.eventrole.id }}" data-action="attend" class="respond-icon icon-plus-sign"></span>
			{% else %}
			<span id="unclea-{{ ed.invitedroles_dictionaries_list.0.eventrole.id }}" data-action="unclear" class="respond-icon icon-question-sign"></span>
			<span id="attend-{{ ed.invitedroles_dictionaries_list.0.eventrole.id }}" data-action="attend" class="respond-icon icon-plus-sign"></span>
			{% endif %}
		{% endif %}
	{% else %}
			>
		{% if ed.invitedroles_dictionaries_list|length > 1 %}
				<span style="float: right; color: #ccc;">{{ ed.invitedroles_dictionaries_list|length }} hlutverk</span>
		{% endif %}
	{% endif %}
			</span>
			<ul id="event_{{ ed.event.id }}_roles_list" class="roles_list">
	{% for ird in ed.invitedroles_dictionaries_list %}
				<li id="eventrole_{{ird.eventrole.id }}" class="eventrole-list-item">
					<span id="eventrole_{{ ird.eventrole.id }}_status_icon"
					{% if ird.response == 'Y' %}
						data-status="attending" class="icon-circle status-icon" style="color: rgb(70, 136, 71); cursor: default; margin: 0;"
					{% else %}
						{% if ird.response == 'N' %}
						data-status="absent" class="icon-circle status-icon" style="color: rgb(185, 74, 72); cursor: default; margin: 0;"
						{% else %}
						data-status="unclear" class="icon-circle status-icon" style="color: rgb(248, 148, 6); cursor: default; margin: 0;"
						{% endif %}
					{% endif %}
					></span>

					{{ ird.eventrole.role }}

					<span id="eventrole_{{ ird.eventrole.id }}_response_icons" data-eventrole="{{ ird.eventrole.id }}" class="response-icons">
					{% if ird.response != 'N' %}
						<span id="eventrole-absent-{{ ird.eventrole.id }}" data-action="absent"  class="respond-icon icon-remove-sign"></span>
						<span id="eventrole-unclea-{{ ird.eventrole.id }}" data-action="unclear" class="respond-icon icon-question-sign"></span>
					{% else %}
						{% if ird.response == 'N' %}
						<span id="eventrole-unclea-{{ ird.eventrole.id }}" data-action="unclear" class="respond-icon icon-question-sign"></span>
						<span id="eventrole-attend-{{ ird.eventrole.id }}" data-action="attend"  class="respond-icon icon-plus-sign"></span>
						{% else %}
						<span id="eventrole-absent-{{ ird.eventrole.id }}" data-action="absent"  class="respond-icon icon-remove-sign"></span>
						<span id="eventrole-attend-{{ ird.eventrole.id }}" data-action="attend"  class="respond-icon icon-plus-sign"></span>
						{% endif %}
					{% endif %}
					</span>
				</li>
	{% endfor %}
			</ul>
	</li>
{% endfor %}
	</ul>
{# HERE FOLLOWS ESSENTIALLY A COPY OF THE LIST ABOVE ######################## #}
	<ul id="my_events" class="events_list" style="display: none;">
{% for ed in my_events_dictionaries_list %}
		<li id="my_event-{{ ed.event.id }}" class="event-list-item"
 {% if ed.invitedroles_dictionaries_list %}
			onclick="
				if ($('#my_event_{{ ed.event.id }}_roles_list').is(':visible')) {
					$('#my_event_{{ ed.event.id }}_roles_list').hide();
					$('#my_event_{{ ed.event.id }}_response_icons').show();
					$(this).css('padding-bottom', '0');
					$(this).css('background-color', '#fff');
				} else {
					$('#my_event_{{ ed.event.id }}_roles_list').show();
					$('#my_event_{{ ed.event.id }}_response_icons').hide();
					$(this).css('padding-bottom', '.4em');
					$(this).css('background-color', '#eef');
				};
				$(this).children('span.status-icon').toggleClass('icon-circle icon-circle-blank');"{% endif %}>
		<span id="my_event_{{ ed.event.id }}_status_icon" 
	{% if ed.invitedroles_dictionaries_list %}
		{% if ed.positive_response %}
			class="icon-circle status-icon attending-icon"
		{% else %}
			{% if ed.unanswered_response %}
			class="icon-circle status-icon unclear-icon"
			{% else %}
			class="icon-circle status-icon absent-icon"
			{% endif %}
		{% endif %}
	{% else %}
			class="icon-circle-blank status-icon notinvited-icon"
	{% endif %}
		></span>

		<a href="/vidburdur/{{ ed.id }}/" onclick="event.stopPropagation()">{{ ed.event.title }}</a>
		<time datetime='{{ed.event.date_time_begin|date:"Y-m-d"}}'>{{ ed.event.date_time_begin|naturaltime }}</time>
		<span id="my_event_{{ ed.event.id }}_response_icons" class="response-icons">
	{% if ed.invitedroles_dictionaries_list|length == 1 %}
		{% if ed.positive_response %}
			<span id="my_event_absent-{{ ed.invitedroles_dictionaries_list.0.eventrole.id }}" data-action="attend"  class="respond-icon icon-remove-sign"></span>
			<span id="my_event_unclea-{{ ed.invitedroles_dictionaries_list.0.eventrole.id }}" data-action="unclear" class="respond-icon icon-question-sign"></span>
		{% else %}
			{% if ed.unanswered_response %}
			<span id="my_event_absent-{{ ed.invitedroles_dictionaries_list.0.eventrole.id }}" data-action="absent"  class="respond-icon icon-remove-sign"></span>
			<span id="my_event_attend-{{ ed.invitedroles_dictionaries_list.0.eventrole.id }}" data-action="attend"  class="respond-icon icon-plus-sign"></span>
			{% else %}
			<span id="my_event_unclea-{{ ed.invitedroles_dictionaries_list.0.eventrole.id }}" data-action="unclear" class="respond-icon icon-question-sign"></span>
			<span id="my_event_attend-{{ ed.invitedroles_dictionaries_list.0.eventrole.id }}" data-action="attend"  class="respond-icon icon-plus-sign"></span>
			{% endif %}
		{% endif %}
	{% else %}
		{% if ed.invitedroles_dictionaries_list|length > 1 %}
				<span style="float: right; color: #ccc;">{{ ed.invitedroles_dictionaries_list|length }} hlutverk</span>
		{% endif %}
	{% endif %}
			</span>
			<ul id="my_event_{{ ed.event.id }}_roles_list" class="roles_list">
	{% for ird in ed.invitedroles_dictionaries_list %}
				<li id="my_eventrole_{{ird.eventrole.id }}" class="eventrole-list-item">
					<span id="my_eventrole_{{ ird.eventrole.id }}_status_icon"
					{% if ird.response == 'Y' %}
						data-status="attending" class="icon-circle status-icon" style="color: rgb(70, 136, 71); cursor: default; margin: 0;"
					{% else %}
						{% if ird.response == 'N' %}
						data-status="absent" class="icon-circle status-icon" style="color: rgb(185, 74, 72); cursor: default; margin: 0;"
						{% else %}
						data-status="unclear" class="icon-circle status-icon" style="color: rgb(248, 148, 6); cursor: default; margin: 0;"
						{% endif %}
					{% endif %}
					></span>

					{{ ird.eventrole.role }}

					<span id="my_eventrole_{{ ird.eventrole.id }}_response_icons" class="response_icons" data-eventrole="{{ ird.eventrole.id }}">
					{% if ird.response != 'N' %}
						<span id="my_absent-{{ ird.eventrole.id }}" data-action="absent"  class="respond-icon icon-remove-sign"></span>
						<span id="my_unclea-{{ ird.eventrole.id }}" data-action="unclear" class="respond-icon icon-question-sign"></span>
					{% else %}
						{% if ird.response == 'N' %}
						<span id="my_unclea-{{ ird.eventrole.id }}" data-action="unclear" class="respond-icon icon-question-sign"></span>
						<span id="my_attend-{{ ird.eventrole.id }}" data-action="attend"  class="respond-icon icon-plus-sign"></span>
						{% else %}
						<span id="my_absent-{{ ird.eventrole.id }}" data-action="absent"  class="respond-icon icon-remove-sign"></span>
						<span id="my_attend-{{ ird.eventrole.id }}" data-action="attend"  class="respond-icon icon-plus-sign"></span>
						{% endif %}
					{% endif %}
					</span>
				</li>
	{% endfor %}
			</ul>
	</li>
{% endfor %}
	</ul>
</section>
<!--</div>-->

		</div><!-- 1 of 2 columns -->
		<div class="span6"><!-- 2 of 2 columns -->

<section>
<h2>Hæfni í boði</h2>
<!--Hæfnir sem eru í boði (næstu skref/námskeið í boði?).-->
<ul>
<li>Frímerkjasöfnun 2</li>
<li>Kassabílagerð 3 [<time datetime='2011-02-13'>2011.02.31</time>]</li>
</ul>
<h2>Endurnýjun</h2>
<ul>
<li>Sérhæfð bið (rennur út <time datetime='2028-03-09'>eftir 3 mánuði</time>)</li>
</ul>
</section>

<section>
  <h2>Fréttir</h2>
	<a href="http://www.hssr.is">HSSR</a>
	<ul>
{% for entry in hssr_entries %}
	<li><a href="{{ entry.link }}">{{ entry.title }}</a> <time datetime='{{entry.published|date:"Y-m-d"}}'>{{ entry.published }}</time></li>
{% endfor %}
	</ul>

	<a href="http://landsbjorg.is/">Landsbjörg</a>
	<ul>
<!-- Skoða: http://justquick.github.com/django-native-tags/contrib/feeds.html -->
{% for entry in sl_entries %}
	<li><a href="{{ entry.link }}">{{ entry.title }}</a> <time datetime='{{entry.published|date:"Y-m-d"}}'>{{ entry.published }}</time></li>
{% endfor %}
	</ul>
<!-- Skoða: http://www.b-list.org/weblog/2007/dec/09/updates/ -->
</section>

		</div><!-- 2 of 2 columns -->
	</div><!-- row -->
</div><!-- -->

{% endblock %}

{% block datetimestamp %}<time datetime="2013-05-03">3. maí 2013.</time>{% endblock %}
