{% extends "tsar.html" %}
{% load humanize %}

{% block head %}
<style>
.overflow { display: none; }
.event_responder.inactive * { color: #ddd !important; }
.invitedroles_number { color: #ddd; }
</style>
<script type="text/javascript" src="/static/js/tsar.events.js"></script>
<script>

$(document).ready(function(){
	$('.status-icon').addClass('fa fa-circle');
	$('.status-icon.notinvited').toggleClass('fa-circle fa-circle-o');
   $('.event_responder').click(function(event) { event.stopPropagation(); respond_to_event(this, 'My page'); } );
	$('.event_responder.attend-button').html('<button type="button" class="btn btn-default" style="padding: 0px 4px"><i class="fa fa-check" style="color: green"></i><!-- Mæta-->');
	$('.event_responder.absent-button').html('<button type="button" class="btn btn-default" style="padding: 0px 4px"><i class="fa fa-times" style="color: red"></i><!-- Sleppa-->');

	console.log('posting');
	getnews('#hssr_news', 'http://hssr.is/?feed=rss2');
	getnews('#sl_news', 'http://landsbjorg.is/Rss.aspx?CatID=466');
});
</script>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6"><!-- 1 of 2 columns -->
		<section id="vidburdir">
			<button type="button" class="btn btn-default pull-right" onclick="$('.event-list-item.notinvited,.overflow').toggle();$(this).toggleClass('active');"><i class="fa fa-user"></i></button>
			<h2>Næstu viðburðir</h2>
			<ul id="events" class="events_list list-unstyled">
{% for ed in events_dictionaries_list %}
	{# Add each event in order, but mark those which the user is not invited to as such. To have a full list when the user filters only events to which she or he is invited to, we add sufficiently many such events, but mark those with “overflow”. #}
				<li id="event-{{ ed.event.id }}" class="event-list-item{% if not ed.invitedroles_dictionaries_list %} notinvited{% else %}{%if forloop.counter > event_list_length %} overflow{% endif %}{% endif %}"
	{% if ed.invitedroles_dictionaries_list %}
			onclick="
				if ($('#event_{{ ed.event.id }}_roles_list').is(':visible')) {
					$('#event_{{ ed.event.id }}_roles_list').hide();
					// Using .show() and .hide() on the response icon blocks causes some rendering problems so we'll change the visibility instead.
					$('#event_{{ ed.event.id }}_response_icons').css('visibility', 'visible');
					$(this).css('padding-bottom', '0');
					//$(this).css('background-color', '#fff');
				} else {
					$('#event_{{ ed.event.id }}_roles_list').show();
					// Using .show() and .hide() on the response icon blocks causes some rendering problems so we'll change the visibility instead.
					$('#event_{{ ed.event.id }}_response_icons').css('visibility', 'hidden');
					$(this).css('padding-bottom', '.4em');
					//$(this).css('background-color', '#eef');
				};
				$(this).children('span.status-icon').toggleClass('fa-circle fa-circle-o');"{% endif %}>
				<span id="event_{{ ed.event.id }}_status_icon" 
	{% if ed.invitedroles_dictionaries_list %}
		{% if ed.positive_response %}
					class="status-icon attending"
		{% else %}
			{% if ed.negative_response %}
					class="status-icon absent"
			{% else %}
					class="status-icon unclear"
			{% endif %}
		{% endif %}
	{% else %}
					class="status-icon notinvited"
	{% endif %}
				></span>

				<a href="/vidburdur/{{ ed.id }}/" onclick="event.stopPropagation()">{{ ed.event.title }}</a>
				<time datetime='{{ed.event.date_time_begin|date:"Y-m-d"}}'>{{ ed.event.date_time_begin|naturaltime }}</time>
	{% if ed.invitedroles_dictionaries_list|length == 1 %}
				<span id="event_{{ ed.event.id }}_response_icons" class="response-icons" data-eventrole="{{ ed.invitedroles_dictionaries_list.0.eventrole.id }}">
					<span id="event-eventrole-{{ ed.invitedroles_dictionaries_list.0.eventrole.id }}-attend_button" data-member_id="{{ user.id }}" data-eventrole_id="{{ ed.invitedroles_dictionaries_list.0.eventrole.id }}"
		{% if ed.positive_response %}
						data-action="none" class="event_responder inactive attend-button"
		{% else %}
						data-action="attend" class="event_responder active attend-button"
		{% endif %}
						></span>
					<span id="event-eventrole-{{ ed.invitedroles_dictionaries_list.0.eventrole.id }}-absent_button" data-member_id="{{ user.id }}" data-eventrole_id="{{ ed.invitedroles_dictionaries_list.0.eventrole.id }}"
		{% if ed.negative_response %}
						data-action="none" class="event_responder inactive absent-button"
		{% else %}
						data-action="absent" class="event_responder active absent-button"
		{% endif %}
						></span>
	{% else %}
				<span id="event_{{ ed.event.id }}_response_icons" class="response-icons">
		{% if ed.invitedroles_dictionaries_list|length > 1 %}
					<span class="invitedroles_number">{{ ed.invitedroles_dictionaries_list|length }} hlutverk</span>
		{% endif %}
	{% endif %}
				</span>
				<ul id="event_{{ ed.event.id }}_roles_list" class="roles_list">
	{% for ird in ed.invitedroles_dictionaries_list %}
					<li id="eventrole_{{ird.eventrole.id }}" class="eventrole-list-item">
						<span id="eventrole_{{ ird.eventrole.id }}_status_icon"
		{% if ird.response == 'Y' %}
							data-status="attending" class="status-icon attending"
		{% else %}
			{% if ird.response == 'N' %}
							data-status="absent" class="status-icon absent"
			{% else %}
							data-status="unclear" class="status-icon unclear"
			{% endif %}
		{% endif %}
						></span>

			{{ ird.eventrole.role }}

							<span id="eventrole_{{ ird.eventrole.id }}_response_icons" data-eventrole="{{ ird.eventrole.id }}" class="response-icons">
								<span id="eventrole-{{ ird.eventrole.id }}-attend_button" data-member_id="{{ user.id }}" data-eventrole_id="{{ ird.eventrole.id }}"
		{% if ird.response == 'Y' %}
									data-action="none" class="event_responder inactive attend-button"
		{% else %}
									data-action="attend" class="event_responder active attend-button"
		{% endif %}
									></span>
								<span id="eventrole-{{ ird.eventrole.id }}-absent_button" data-member_id="{{ user.id }}" data-eventrole_id="{{ ird.eventrole.id }}"
		{% if ird.response == 'N' %}
									data-action="none" class="event_responder inactive absent-button"
		{% else %}
									data-action="attend" class="event_responder active absent-button"
		{% endif %}
						></span>

							</span>
						</li>
	{% endfor %}
					</ul>
				</li>
{% endfor %}
			</ul>
		</section>

	</div><!-- 1 of 2 columns -->
	<div class="col-md-6"><!-- 2 of 2 columns -->

		<!--
		<section>
			<h2>Hæfni í boði</h2>
			-->
			<!--Hæfnir sem eru í boði (næstu skref/námskeið í boði?).-->
			<!--
			<ul>
				<li>Frímerkjasöfnun 2</li>
				<li>Kassabílagerð 3 [<time datetime='2011-02-13'>2011.02.31</time>]</li>
			</ul>
			<h2>Endurnýjun</h2>
			<ul>
				<li>Sérhæfð bið (rennur út <time datetime='2028-03-09'>eftir 3 mánuði</time>)</li>
			</ul>
		</section>
		-->

		<section>
  			<h2>Fréttir</h2>
			<h3><a href="http://www.hssr.is">HSSR</a></h3>
			<div id="hssr_news"><span style="color: gray; padding-left: 2em;">hleður...</span></div>

			<h3><a href="http://landsbjorg.is/">Landsbjörg</a></h3>
			<div id="sl_news"><span style="color: gray; padding-left: 2em;">hleður...</span></div>
			<ul>
<!-- Skoða: http://justquick.github.com/django-native-tags/contrib/feeds.html -->
<!-- Skoða: http://www.b-list.org/weblog/2007/dec/09/updates/ -->
		</section>

	</div><!-- 2 of 2 columns -->
</div><!-- row -->

{% endblock %}

{% block datetimestamp %}<time datetime="2013-05-03">3. maí 2013.</time>{% endblock %}
