<!DOCTYPE html>
<html lang="is">
<head>
 <!-- <meta charset="iso-8859-1" />-->
  <meta charset="windows-1252" />
  <link rel="stylesheet" href="/~martin/css/html-5-reset.css" />
  <link rel="stylesheet" href="/~martin/css/style.css" />
<!--  <link rel="stylesheet" href="/~martin/css/layout.css" />-->
  <link rel="stylesheet" href="/~martin/css/print.css" media="print" />
  <link type="text/css" rel="stylesheet" href="/~martin/css/code.css"  />
  <title>HSSR: Viðburðir</title>
	<style type="text/css">
		h1 { color: white; background-color: #bb3333; padding: 4px; }
		h2 { color: #993333; }
	  section { border: thin solid gray; padding: .2em; margin: .2em .0em .4em .4em }
		date { color: gray; font-size: smaller; }
		article { margin: 1em; }
		#dagatal { width: 100%; }
		#dagatal td { width: 14%; height: 5em; border: thin solid #ddd; vertical-align: top; white-space:nowrap; }
		#dagatal td.i_dag { border: 2px solid red; z-index: -1; }
		#dagatal td.laugardagur, #dagatal td.sunnudagur { background-color: #eef; }
		.dagatal_vidburdur { width: 100%; background-color: #ddf; }
	</style>
</head>
<body>

<!-- HEADER -->
<div id="header">
	<h1><img src="/~martin/hssr/ninna/../HSSR_merki.png" alt="Merki HSSR" style="float:left; height: 1em" />
	HSSR: Viðburðir</h1>
	<ul>
		<li style="display: inline"><a href="/~martin/hssr/ninna/">Síðan mín</a></li>
		<li style="display: inline"><a href="/~martin/hssr/ninna/hopar">Hópar</a></li>
		<li style="display: inline"><a href="/~martin/hssr/ninna/vidburdir">Viðburðir</a></li>
		<li style="display: inline"><a href="/~martin/hssr/ninna/felagar">Félagar</a></li>
		<li style="display: inline"><a href="/~martin/hssr/ninna/utkoll">Útköll</a></li>
	</ul>
</div>

<!-- MAIN -->
<article id="article">

<section>
<a href="/~martin/hssr/ninna/skraning_vidburdar">Skráning viðburðar</a>
</section>
<!--
<iframe width="100%" scrolling="no" height="600" frameborder="0" src="https://www.google.com/calendar/b/0/embed?showTitle=0&amp;showPrint=0&amp;height=600&amp;wkst=2&amp;hl=en_GB&amp;bgcolor=%23FFFFFF&amp;src=gjaldkerifbsr%40gmail.com&amp;color=%23B1365F&amp;src=8s1qqtvtou8epk9nid0tncg81k%40group.calendar.google.com&amp;color=%235229A3&amp;src=fallhlifastjori%40fbsr.is&amp;color=%23B1440E&amp;src=hk3654fgochrh3ceq56ci33jks%40group.calendar.google.com&amp;color=%232952A3&amp;src=lntk1dn1rvovb3riaqubeq7ln8%40group.calendar.google.com&amp;color=%23691426&amp;src=lqukgqerkl5maag44l51l56864%40group.calendar.google.com&amp;color=%23182C57&amp;src=bilastjori%40fbsr.is&amp;color=%23705770&amp;src=leitarstjori%40fbsr.is&amp;color=%23856508&amp;ctz=Atlantic%2FReykjavik"src=fallhlifastjori%40fbsr.is&amp;color=%23B1440E&amp;ctz=Atlantic%2FReykjavik"></iframe>
-->

<section style="padding: 1em;" >
	<table id="dagatal">
		<tr>
			<th>Mánudagur</th>
			<th>Þriðjudagur</th>
			<th>Miðvikudagur</th>
			<th>Fimmtudagur</th>
			<th>Föstudagur</th>
			<th>Laugardagur</th>
			<th>Sunnudagur</th>
		</tr>
		<tr>
			<td class="manudagur"><date>14.</date>
				<div class="dagatal_vidburdur"><time>19:00</time> <a href="/~martin/hssr/ninna/vidburdur/.../" class="vidb_titill">Bílahópur vinnukvöld</a><div></td>
			<td class="thridjudagur"><date>15.</date></td>
			<td class="midvikudagur"><date>16.</date></td>
			<td class="fimmtudagur"><date>17.</date></td>
			<td class="fostudagur"><date>18.</date></td>
			<td class="laugardagur"><date>19.</date></td>
			<td class="sunnudagur"><date>20.</date></td>
		</tr>
		<tr>
			<td class="manudagur"><date>21.</date>
				<div class="dagatal_vidburdur"><time>19:00</time> <a href="/~martin/hssr/ninna/vidburdur/.../" class="vidb_titill">Bílahópur vinnukvöld</a><div></td>
			<td class="thridjudagur"><date>22.</date>
				<div class="dagatal_vidburdur"><time>17:45</time> <a href="/~martin/hssr/ninna/vidburdur/39972-leitarhundaaefing/" class="vidb_titill">Leitarhundar æfing</a><div></td>
			<td class="midvikudagur i_dag"><date>23.</date></td>
			<td class="fimmtudagur"><date>24.</date></td>
			<td class="fostudagur"><date>25.</date></td>
			<td class="laugardagur"><date>26.</date></td>
			<td class="sunnudagur"><date>27.</date></td>
		</tr>
		<tr>
			<td class="manudagur"><date>28.</date>
				<div class="dagatal_vidburdur"><time>19:00</time> <a href="/~martin/hssr/ninna/vidburdur/.../" class="vidb_titill">Bílahópur vinnukvöld</a><div></td>
			<td class="thridjudagur"><date>29.</date></td>
			<td class="midvikudagur"><date>30.</date></td>
			<td class="fimmtudagur"><date>31.</date></td>
			<td class="fostudagur"><date>1.</date></td>
			<td class="laugardagur"><date>2.</date></td>
			<td class="sunnudagur"><date>3.</date></td>
		</tr>
		<tr>
			<td class="manudagur"><date>4.</date>
				<div class="dagatal_vidburdur"><time>19:00</time> <a href="/~martin/hssr/ninna/vidburdur/.../" class="vidb_titill">Bílahópur vinnukvöld</a><div></td>
			<td class="thridjudagur"><date>5.</date></td>
			<td class="midvikudagur"><date>6.</date></td>
			<td class="fimmtudagur"><date>7.</date></td>
			<td class="fostudagur"><date>8.</date>
				<div class="dagatal_vidburdur" style="width: 300%;"><time>18:00</time> <a href="/~martin/hssr/ninna/vidburdur/.../" class="vidb_titill">Hvannadalshnjúkur</a><div></td>
			<td class="laugardagur"><date>9.</date></td>
			<td class="sunnudagur"><date>10.</date></td>
		</tr>
		<tr>
			<td class="manudagur"><date>11.</date>
				<div class="dagatal_vidburdur"><time>19:00</time> <a href="/~martin/hssr/ninna/vidburdur/.../" class="vidb_titill">Bílahópur vinnukvöld</a><div></td>
			<td class="thridjudagur"><date>12.</date></td>
			<td class="midvikudagur"><date>13.</date></td>
			<td class="fimmtudagur"><date>14.</date></td>
			<td class="fostudagur"><date>15.</date></td>
			<td class="laugardagur"><date>16.</date></td>
			<td class="sunnudagur"><date>17.</date></td>
		</tr>
	</table>
</section>

<section id="nylegir_vidburdir" style="width: 35em; float: left">
	<h2>Nýlegir viðburðir</h2>
  <ul>
	  <li>1 <a href="/~martin/hssr/ninna/vidburdur/39972-leitarhundaaefing/" class="vidb_titill">Leitarhundar æfing</a> <date>17:45 22nd May</date></li>
	  <li>0 <a href="https://hssr.d4h.org/team/events/view/40104" class="vidb_titill"> Stjórnarfundur 18:00</a> <date>22nd May</date></li>
		<li>20 <a href="https://hssr.d4h.org/team/events/view/23844" class="vidb_titill">N1, klettaklifurnámskeið 18:00</a> <date> 22nd May</date></li>
		<li>2 <a href="https://hssr.d4h.org/team/events/view/39908" class="vidb_titill">Hengilsvinnukvöld</a> <date> 18:00 22nd May</date></li>
		<li>7 <a href="https://hssr.d4h.org/team/events/view/39909" class="vidb_titill">Hengilsvinnukvöld.</a> <date> 18:00 23rd May</date></li>
		<li>12 <a href="https://hssr.d4h.org/team/exercises/view/34162" class="vidb_titill">Sérhæfður leitarhópur, æfing</a> <date> 18:00 23rd May</date></li>
		<li>1 <a href="https://hssr.d4h.org/team/events/view/39542" class="vidb_titill">Fyrsta hjálp FLH</a> <date> 18:00 24th May</date></li>
		<li>1 <a href="https://hssr.d4h.org/team/events/view/39979" class="vidb_titill">Laganefnd</a> <date> 19:30 24th May</date></li>
		<li>0 <a href="https://hssr.d4h.org/team/events/view/38771" class="vidb_titill">Efri hæð á M6 upptekin vegna útsk</a> <date> 16:00 26th May</date></li>
		<li>Next Week</date></li>
		<li>5 <a href="https://hssr.d4h.org/team/exercises/view/39970" class="vidb_titill">Sérhæfður leitarhópur, samæfing</a> <date> 10:00 2nd Jun</date></li>
		<li>Later</date></li>
		<li>0 <a href="https://hssr.d4h.org/team/events/view/34175" class="vidb_titill">Hvannadalshnúkur 2012</a> <date> 18:00 8th Jun</date></li>
		<li>5 <a href="https://hssr.d4h.org/team/events/view/39906" class="vidb_titill">Fótboltagæsla A kvenna</a> <date> 16:00 16th Jun</date></li>
		<li>Ar you attending?   Yes  No</date></li>
		<li>0 <a href="https://hssr.d4h.org/team/events/view/38049" class="vidb_titill">Salur og eldhús M6 upptekin.</a> <date> 09:00 24th Jun</date></li>
		<li>29 <a href="https://hssr.d4h.org/team/events/view/39458" class="vidb_titill">Lúxustrússferð HSSR</a> <date> 07:00 20th Jul</date></li>
		<li>4 <a href="https://hssr.d4h.org/team/events/view/36016" class="vidb_titill">Hálendisvakt v31</a> <date> 11:00 27th Jul</date></li>
		<li>4 <a href="https://hssr.d4h.org/team/events/view/36017" class="vidb_titill">Hálendisvakt v32</a> <date> 11:00 3rd Aug</date></li>
		<li>0 <a href="https://hssr.d4h.org/team/events/view/38274" class="vidb_titill">N2 - Leitartækni</a> <date> 17:00 14th Sep</date></li>
		<li>0 <a href="https://hssr.d4h.org/team/events/view/38271" class="vidb_titill">N1- Ferðamennska og rötun</a> <date> 17:00 14th Sep</date></li>
		<li>2 <a href="https://hssr.d4h.org/team/events/view/34605" class="vidb_titill">Flugslysaæfing á Reykjavíkurflugvelli.</a> <date> 08:00 6th Oct</date></li>
		<li>9 <a href="https://hssr.d4h.org/team/events/view/38570" class="vidb_titill">Árshátíð</a> <date> 19:00 10th Nov</date></li>
		<li>0 <a href="https://hssr.d4h.org/team/events/view/38272" class="vidb_titill">N1- Ferðamennska og rötun</a> <date> 17:00 13th Sep</date></li>
		<li>0 <a href="https://hssr.d4h.org/team/events/view/38273" class="vidb_titill">N2 - Leitartækni</a> <date> 17:00 13th Sep</date></li>
	</ul>
</section>

<section id="naestu_vidburdir" style="width: 35em; float: left">
	<h2>Næstu viðburðir</h2>
  <ul>
	  <li>1 <a href="https://hssr.d4h.org/team/exercises/view/39972" class="vidb_titill">Leitarhundar æfing</a> <date>17:45 22nd May</date></li>
	  <li>0 <a href="https://hssr.d4h.org/team/events/view/40104" class="vidb_titill"> Stjórnarfundur 18:00</a> <date>22nd May</date></li>
		<li>20 <a href="https://hssr.d4h.org/team/events/view/23844" class="vidb_titill">N1, klettaklifurnámskeið 18:00</a> <date> 22nd May</date></li>
		<li>2 <a href="https://hssr.d4h.org/team/events/view/39908" class="vidb_titill">Hengilsvinnukvöld</a> <date> 18:00 22nd May</date></li>
		<li>7 <a href="https://hssr.d4h.org/team/events/view/39909" class="vidb_titill">Hengilsvinnukvöld.</a> <date> 18:00 23rd May</date></li>
		<li>12 <a href="https://hssr.d4h.org/team/exercises/view/34162" class="vidb_titill">Sérhæfður leitarhópur, æfing</a> <date> 18:00 23rd May</date></li>
		<li>1 <a href="https://hssr.d4h.org/team/events/view/39542" class="vidb_titill">Fyrsta hjálp FLH</a> <date> 18:00 24th May</date></li>
		<li>1 <a href="https://hssr.d4h.org/team/events/view/39979" class="vidb_titill">Laganefnd</a> <date> 19:30 24th May</date></li>
		<li>0 <a href="https://hssr.d4h.org/team/events/view/38771" class="vidb_titill">Efri hæð á M6 upptekin vegna útsk</a> <date> 16:00 26th May</date></li>
		<li>Next Week</date></li>
		<li>5 <a href="https://hssr.d4h.org/team/exercises/view/39970" class="vidb_titill">Sérhæfður leitarhópur, samæfing</a> <date> 10:00 2nd Jun</date></li>
		<li>Later</date></li>
		<li>0 <a href="https://hssr.d4h.org/team/events/view/34175" class="vidb_titill">Hvannadalshnúkur 2012</a> <date> 18:00 8th Jun</date></li>
		<li>5 <a href="https://hssr.d4h.org/team/events/view/39906" class="vidb_titill">Fótboltagæsla A kvenna</a> <date> 16:00 16th Jun</date></li>
		<li>Ar you attending?   Yes  No</date></li>
		<li>0 <a href="https://hssr.d4h.org/team/events/view/38049" class="vidb_titill">Salur og eldhús M6 upptekin.</a> <date> 09:00 24th Jun</date></li>
		<li>29 <a href="https://hssr.d4h.org/team/events/view/39458" class="vidb_titill">Lúxustrússferð HSSR</a> <date> 07:00 20th Jul</date></li>
		<li>4 <a href="https://hssr.d4h.org/team/events/view/36016" class="vidb_titill">Hálendisvakt v31</a> <date> 11:00 27th Jul</date></li>
		<li>4 <a href="https://hssr.d4h.org/team/events/view/36017" class="vidb_titill">Hálendisvakt v32</a> <date> 11:00 3rd Aug</date></li>
		<li>0 <a href="https://hssr.d4h.org/team/events/view/38274" class="vidb_titill">N2 - Leitartækni</a> <date> 17:00 14th Sep</date></li>
		<li>0 <a href="https://hssr.d4h.org/team/events/view/38271" class="vidb_titill">N1- Ferðamennska og rötun</a> <date> 17:00 14th Sep</date></li>
		<li>2 <a href="https://hssr.d4h.org/team/events/view/34605" class="vidb_titill">Flugslysaæfing á Reykjavíkurflugvelli.</a> <date> 08:00 6th Oct</date></li>
		<li>9 <a href="https://hssr.d4h.org/team/events/view/38570" class="vidb_titill">Árshátíð</a> <date> 19:00 10th Nov</date></li>
		<li>0 <a href="https://hssr.d4h.org/team/events/view/38272" class="vidb_titill">N1- Ferðamennska og rötun</a> <date> 17:00 13th Sep</date></li>
		<li>0 <a href="https://hssr.d4h.org/team/events/view/38273" class="vidb_titill">N2 - Leitartækni</a> <date> 17:00 13th Sep</date></li>
	</ul>
</section>

<section id="utkoll" style="width: 35em; float: left">
	<h2>Útköll</h2>
  <ul>
		<li> 3 #Hafravatn, jeppi fastur for 1hr 20mins 	21:35 Sat 25th Feb 2012 	</date> <span class="utkl_hlutfall">100%</span></li>
		<li> 12 #Kerhólakambur, kona slösuð á fæti for 2hrs 34mins 	13:06 Sun 19th Feb 2012 	</date> <span class="utkl_hlutfall">100%</span></li>
		<li> 11 #Eyjafjallajökull, aðstoð v. ferðamenn for 1hr 48mins 	21:35 Fri 17th Feb 2012 	</date> <span class="utkl_hlutfall">100%</span></li>
		<li> 12 #Skálafell, vélsleðamaður slasaður for 2hrs 26mins 	13:49 Sun 5th Feb 2012 	</date> <span class="utkl_hlutfall">100%</span></li>
		<li> 13 #Hellisheiði, ófærð for 3hrs 30mins 	11:00 Fri 27th Jan 2012 	</date> <span class="utkl_hlutfall">100%</span></li>
		<li> 6 #Bláfjallaskáli, fastur bíll for 1hr 3mins 	22:12 Thu 26th Jan 2012 	</date> <span class="utkl_hlutfall">100%</span></li>
		<li> 10 #Suðurnes, ófærð for 3hrs 6mins 	08:34 Thu 26th Jan 2012 	</date> <span class="utkl_hlutfall">100%</span></li>
		<li> 10 #Suðurnes, ófærð for 11hrs 11mins 	00:49 Thu 26th Jan 2012 	</date> <span class="utkl_hlutfall">100%</span></li>
		<li> 4 #Hengilssvæðið, fastur bíll for 1hr 30mins 	23:30 Sun 22nd Jan 2012 	</date> <span class="utkl_hlutfall">100%</span></li>
		<li> 27 #Skálafell, slasaður vélsleðamaður for 48mins 	15:52 Sun 15th Jan 2012 	</date> <span class="utkl_hlutfall">100%</span></li>
		<li> 12 #Sandskeið, ófærð for 2hrs 26mins 	23:44 Thu 12th Jan 2012 	</date> <span class="utkl_hlutfall">13%</span></li>
		<li> 21 #Hafnarfjörður, leit að manni við Helgafell for 1hr 19mins 	15:46 Thu 12th Jan 2012 	</date> <span class="utkl_hlutfall">23%</span></li>
		<li> 25 #Hellisheiði og Þrengsli, ófærð for 6hrs 31mins 	20:40 Mon 9th Jan 2012 	</date> <span class="utkl_hlutfall">28%</span></li>
		<li> 8 #Höfuðborgarsvæðið, ófærð for 5hrs 33mins 	01:47 Fri 6th Jan 2012 	</date> <span class="utkl_hlutfall">100%</span></li>
		<li> 6 #Reykjavík, ófærð í efri byggðum for 4hrs 45mins 	16:55 Fri 30th Dec 2011 	</date> <span class="utkl_hlutfall">100%</span></li>
		<li> 28 #Reykjavík og nágrenni, ófærð for 8hrs 50mins 	01:30 Thu 29th Dec 2011 	</date> <span class="utkl_hlutfall">31%</span></li>
		<li> 22 #Kópavogur, leit við Tröllakór for 38mins 	00:52 Thu 29th Dec 2011 	</date> <span class="utkl_hlutfall">24%</span></li>
		<li> 23 #Heiðmörk, leit að dreng í jólaskógi for 1hr 15mins 	17:12 Sun 18th Dec 2011 	</date> <span class="utkl_hlutfall">25%</span></li>
		<li> 7 #Reykjadalur, maður fótbrotinn for 2hrs 10mins 	17:00 Sun 27th Nov 2011 </date> <span class="utkl_hlutfall">25%</span></li>
	</ul>
</section>

<section id="Félagatal" style="position: absolute; width: 20em; top: 30px; right: 30em">
  <form>
		<input type="text" value="Félagatal" />
  </form>
</section>

</article>

<footer>
<div style="float:right;clear:both">
	<a href="http://validator.w3.org/check/referer"><img
		width="80" height="15"
		src="/~martin/imgs/valid-html5-raunvis.png"
		alt="Valid HTML 5!" /></a>
	<a href="http://jigsaw.w3.org/css-validator/"><img
		width="80" height="15"
		src="/~martin/imgs/valid-css2.1-raunvis.png" 
		alt="Valid CSS!" /></a>
</div>

<div id="footer" style="clear:both">
	© Martin Swift -
	<time datetime="2011-02-23">23. febrúar 2011.</time>
</div>
</footer>

</body>
</html>
