{% extends "tsar.html" %}

{% block head %}
<script type="text/javascript" src="/static/js/development-bundle/ui/jquery-ui-1.8.21.custom.js"></script>
<script type="text/javascript" src="/static/js/development-bundle/ui/minified/jquery.ui.datepicker.min.js"></script>
<script type="text/javascript" src="/static/js/development-bundle/ui/ui.datepicker-is.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-timepicker-addon.js"></script>
<link type="text/css" rel="stylesheet" href="/static/js/css/ui-lightness/jquery-ui-1.8.21.custom.css" />
<script type="text/javascript" src="/static/js/chosen.jquery.min.js"></script>
<link type="text/css" rel="stylesheet" href="/static/css/chosen.css" />
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/tsar.events.js"></script>
<style>
	/* css for timepicker */
	//.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
	//.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
	//.ui-timepicker-div dl { text-align: left; }
	//.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
	//.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
	//.ui-timepicker-div td { font-size: 90%; }
	//.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
</style>
<style>
	section { overflow: auto; }
	.select-participants, [id*='role-groups-id_'] { width: 100%; }
	div[id*='tag_type_id'] { width: 100% !important; }
	#tag_organiser_chzn, #tag_event_task_chzn, #tag_location_chzn, #tag_equipment_chzn { width: 100% !important; }
	//#id_minimum, #id_maximum { width: 2em; }
	th, td { height: 1em; }
	#role_groups_id_template_chzn, .chzn-drop, #role_groups_id_template_chzn ul li input { width: 100% !important; }

/*	#id_date_time_begin-label, #id_date_time_end-label { text-align: right; }*/
/*	#id_date_time_begin, #id_date_time_end { display: inline; width: 8em; }*/
	#id_title, #event_type, #id_date_time_begin, #id_date_time_end { width: 100% !important; }
	
	.required { border-color: rgb(233, 175, 102);outline: 0px none;box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(233, 175, 102, 0.6); }

</style>
<script type="text/javascript">

$(document).ready(function(){
	$('#id_title').css('font-size','2.57em');
	$('#id_date_time_begin').css('margin-bottom','5px');
	$('#id_date_time_begin, #id_date_time_end').css('font-size','.7em');
	$('#id_title, #id_date_time_begin, #id_date_time_end').css('height','auto');
	$('#id_title, #event_type, #id_date_time_begin, #id_date_time_end, #id_description').addClass('form-control');
	$('#event_header *').css('padding-right', '5px');
	$('#event_header *').css('padding-left', '5px');
	$('#id_title').parent().css('padding-left', '15px');
	$('#add_dates_btn').parent().css('padding-right', '15px');
	$('#add_dates_btn').css('font-size','2.27em');
	$('#add_dates_btn').css('height','auto');

	$('#id_title, #id_date_time_begin, #id_date_time_end').addClass('required');
	$('#id_title, #id_date_time_begin, #id_date_time_end').live('blur', function(element) {
		console.log($(this).val());
		if ($(this).val() == "") {
			$(this).addClass('required');
		} else {
			$(this).removeClass('required');
		}
	});

// Datetimepicker
	startDateTextBox = $('#id_date_time_begin')
	endDateTextBox = $('#id_date_time_end')
	$('#id_date_time_begin').datetimepicker({
		onClose: function (selectedDateTime){
			var select_dt = new Date(selectedDateTime);
			var original_end = endDateTextBox.val();
			var testEndDate = endDateTextBox.datetimepicker('getDate');
			endDateTextBox.datetimepicker('option', 'minDate', startDateTextBox.datetimepicker('getDate') );
	
  	      if (original_end != '') {
  	          if(testEndDate < select_dt){
  	              endDateTextBox.val(selectedDateTime);
  	          }else{
  	              endDateTextBox.val(original_end);
  	          }
  	      }else{
  	          endDateTextBox.val(selectedDateTime);
  	      }
		}

	});
	$('#id_date_time_end').datetimepicker({
		onClose: function (selectedDateTime){
			var select_dt = new Date(selectedDateTime);
			var original_start = startDateTextBox.val();
			var testStartDate = startDateTextBox.datetimepicker('getDate');
			startDateTextBox.datetimepicker('option', 'maxDate', endDateTextBox.datetimepicker('getDate') );

			if (original_start != '') {
				if(testStartDate > select_dt){
					startDateTextBox.val(selectedDateTime);
				}else{
					startDateTextBox.val(original_start);
				}
			}else{
				startDateTextBox.val(selectedDateTime);
			}
		}
	});

// Chosen UI
	$('.tag-type').chosen();

	$('#id_description').addClass('col-xs-12');

// Place the CSRF token in a js variable so that the form handler can send it to the view.
	//csrf = "{{ csrf_token|escapejs }}";
	var csrftoken = $.cookie('csrftoken');
	console.log('CSRF (on page):'+csrftoken);

	// Populate with a default role
	$('#6').click();

}); //END READY -----------------------

	$('.role-dropdown-item').live('click',(function(){
		role_id = $(this).attr('id');
		role_title = $(this).children('a').html();
		$(this).remove();
	node=	'<div class="role_entry">'
		+			'<div class="role_entry-title" style="float:left">'+role_title+'</div>'
		+			'<input type="hidden" name="role['+role_id+'][id]" value="'+role_id+'" />'
		+					'<div style="float:right"><i id="'+role_id+'" class="delete-role-entry fa fa-remove-sign pull-right" style="cursor: pointer"></i></div>'
//		+					'<div style="float:right; margin-right: .5em;">mest:   <input name="role['+role_id+'][max]" class="col-sm-6 role-max" type="number" min="0" value="0" max="999" style="width:2em"/></div>'
//		+					'<div style="float:right; margin-right: .5em;">minnst: <input name="role['+role_id+'][min]" class="col-sm-6 role-min" type="number" min="0" value="0" max="999" style="width:2em"/></div>'
//		+					'<div>'
//		+						'<input name="role['+role_id+'][closed]" class="btn btn-danger col-sm-12" type="button" value="lokað" onclick="$(this).toggleClass(\'btn-danger btn-success\');($(this).val()==\'lokað\')?$(this).val(\'opið\'):$(this).val(\'lokað\');" />'
//		+					'</div>'
		+		'<div>'
		+			'<select name="role['+role_id+'][participants][]" multiple data-placeholder="Veldu þáttakendur" class="select-participants">'
		+				'<optgroup label="Stöður">'
		+					'<option value="a">Allir</option>'
		+					'{% for position in positions %}'
		+					'<option value="p{{ position.id }}">{{ position.title }}</option>'
		+					'{% endfor %}'
		+				'</optgroup>'
		+				'<optgroup label="Hópar og flokkar">'
		+					'{% for group in groups %}'
		+					'<option value="g{{ group.id }}">{{ group.title }}</option>'
		+					'{% endfor %}'
		+				'</optgroup>'
		+				'<optgroup label="Meðlimir">'
		+					'{% for member in members %}'
		+					'<option value="m{{ member.id }}">{{ member }}</option>'
		+					'{% endfor %}'
		+				'</optgroup>'
		+			'</select>'
		+		'</div>'
		+	'</div>'
		+'</div>'; 
		$('#invite-role-list').append(node).children(':last').hide().fadeIn({ duration: 400, queue: false });
		// Causes a jump at the end of the slide:
		//$('#invite-role-list').append(node).children(':last').stop(true, true).hide().slideDown(500).fadeIn({ duration: 400, queue: false });
		$('.select-participants').chosen();
	}));

</script>
{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}
<form id="event-creator" action="." method="post">

	<input type="hidden" name="event_id" id="event_id" value="{{ event.pk }}" />
	
	<div id="event_header" class="row" style="margin-bottom: 1.5em;">
		<div class="col-xs-12 col-sm-7">{{ form.title }}</div>
		<div class="col-xs-5 col-sm-2">
			<select id="event_type" name="event_type" class="form-control">
						{% for type in event_types %}
				<option value="{{ type.pk }}">{{ type.title }}</option>
						{% endfor %}
			</select>
		</div>
		<div class="col-xs-3 col-sm-2">{{ form.date_time_begin }}{{ form.date_time_end }}</div>
		<div class="col-xs-1 col-sm-1"><button type="button" class="btn btn-default form-control" id="add_dates_btn" onclick="$('#add_days').slideToggle();$('#add_days_icon').toggleClass('fa-minus');"><i id="add_days_icon" class="fa fa-plus"></i></a></div>
	</div>
	
	<div id="add_days" class="tabbable" style="display:none;">
		<ul class="nav nav-tabs" style="margin-right: 0;">
			<li class="active"><a href="#reps" data-toggle="tab">Endurtaka</a></li>
			<li><a href="#days" data-toggle="tab">Bæta við</a></li>
		</ul>
		<div class="tab-content" style="border: thin solid #ddd; padding: .4em; margin-bottom: .5em; border-left: none; border-bottom: none;">
			<input class="btn btn-default" type="button" value="Sýna lista" style="float:right" onclick="$('#add_days_list').slideToggle();" />
			<div class="tab-pane" id="days">
				add days
			</div>
			<div class="tab-pane active" id="reps">
				á sama vikudegi
				<select id="reps-period" style="vertical-align: baseline; width: auto;">
					<option>í hverri viku</option>
					<option>í fyrstu og þriðju viku hvers mánaðar</option>
					<option>í annari og fjórðu viku hvers mánaðar</option>
					<option>í hverjum mánuði</option>
				</select>
				þar til <input type="text" style="width: 7em; vertical-align: baseline;" />
			</div>
			<ul id="add_days_list" style="display: none; -moz-column-count:3; /* Firefox */ -webkit-column-count:3; /* Safari and Chrome */ column-count:3;">
				<li><date>Ðis is a deit</date></li>
				<li><date>Ðis is a deit</date></li>
				<li><date>Ðis is a deit</date></li>
				<li><date>Ðis is a deit</date></li>
				<li><date>Ðis is a deit</date></li>
				<li><date>Ðis is a deit</date></li>
				<li><date>Ðis is a deit</date></li>
			</ul>
		</div>
	</div>


{% if error_message %}<div id="error_message">{{ error_message }}</div>{% endif %}
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4" style="height: 100%;">
	<!-- BOÐUN Í HLUTVERK -->
		<section class="" style="overflow: visible;">
			<div class="btn-group pull-right" id="event-invite-button">
				<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Bæta við hlutverki <span class="caret"></span> </button>
				<ul id="role-dropdown" class="dropdown-menu">
	{% for role in event_roles %}
					<li class="role-dropdown-item" id="{{ role.id}}"><a>{{ role.title }}</a></li>
	{% endfor %}
				</ul>
			</div><!-- /#event-invite-button -->
		
			<h3 id="event-invite-header">Boðun</h3>
		
			<div id="invite-role-list">
			</div><!--invite-role-list-->
		</section>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-8"><!-- Contains the next three sections: #description, #tags, #location -->
		<section id="description" tyle="overflow: visible">
			<h3 id="event-description-header">Lýsing</h3>
				{{ form.description }}
		</section><!-- /#description -->
	
	<!-- TAGS -->
		<section id="tags" style="overflow: visible">
			<input id="event-tag-button" type="button" class="btn btn-default" style="float: right" value="Merkja" data-toggle="button" onclick="$(this).toggleClass('active');$('#merki-content').slideToggle();" />
			<h3 id="event-tag-header">Merki</h3>
			<div id="merki-content" style="display:none">
				<table style="width: 100%">
						  {# Create a form for each TagType and mark it with the EventTypes it goes with. Then when the EventType is changed, we have to change the visibility of TagTypes that don't belong to both the new and old EventType #}
						  {% for tagtype in tagtypes %}
						  <tr>
								<td>{{ tagtype.title }}</td>
								<td>
										  <select id="tag_type_id-{{ tagtype.id }}" class="tag-type" multiple data-placeholder="Merktu umsjónaraðila">
								{% for tag in tagtype.tag_set.all %}
										  <option>{{ tag.title }}</option>
								{% endfor %}
								</select>
						  </tr>
						  {% endfor %}
				</table>
			</div>
		</section>

	<!-- LANDFRÆÐILEGAR UPPLÝSINGAR -->
		<section id="location">
			<div style="float:right; vertical-align: bottom;">
				<input id="event-geo-button" type="button" class="btn btn-default" data-toggle="button" onclick="$(this).toggleClass('active');$('#stadsetning-content').slideToggle();" value="Staðsetja" />
			</div>
			<h3 id="event-geo-header">Staðsetning</h3>
			<div id="stadsetning-content" style="display:none">
		
				<div style="float:right;"><img src="/static/img/hengill-husmuli.png" width="200" height="200" alt="Kort af svæðinu." /></div>
				<table>
					<tr><th>Lengd</th><th>Breidd</th><th colspan="2">Lýsing</th></tr>
	<!--
					<tr><td>N 64°34,392'</td><td>V 21°39,291'</td><td colspan="2">Upphafsstaður æfingar.</td></tr>
					<tr><td>N 65°01,039'</td><td>V 21°33,029'</td><td colspan="2">Söfnunarsvæði slasaðra.</td></tr>
	-->
					<tr>
						<td><input type="text" placeholder="lengd" style="width: 6em" /></td>
						<td><input type="text" placeholder="breidd" style="width: 6em" /></td>
						<td><input type="text" style="width:100%" placeholder="Lýsing" /></td>
						<td><input type="button" class="btn btn-default" value="Bæta við" style="margin-bottom:10px; margin-left: 10px;"/></td>
					</tr>
					<tr>
						<td colspan="3"><input type="text" placeholder="GPX/KML-skrá" style="min-width:30em" /></td><td><input type="button" class="btn btn-default" value="Hlaða upp" style="margin-bottom: 10px;"/></span></td>
					</tr>
				</table>
			</div>
		</section>
	</div><!-- /.col-sm-8 -->
	
</div><!-- /.row -->
	
<div class="row">
	<div class="col-sm-12">
		<section id="create-event">
			<div class="alert" style="float: left; padding-top: 4px; padding-bottom: 4px; margin-bottom: 0px; display:none" id="results"></div>
			<!--<input id="create-event-button" type="button" class="btn btn-primary pull-right" value="Vista viðburð" />-->
			<button id="create-event-button" class="btn btn-primary pull-right">Vista viðburð</button>
		</section>
	</div>
</div>

</form>

{% endblock %}
