{% extends "tsar.html" %}

{% block head %}
<style>
.nav { margin-bottom: 10px; }
.nav-pills > li > a { padding: .4em; margin-right: .4em; }
.nav-pills > .active > a.success, .nav-pills > .active > a.success:hover { background-color: rgb(70, 136, 71); color: white; }
.nav-pills > li > a.success { color: rgb(70, 136, 71);; }
.nav-pills > li > a.success:hover { color: rgb(44, 85, 44); }
.nav-pills > .active > a.important, .nav-pills > .active > a.important:hover { background-color: rgb(185, 74, 72); color: white; }
.nav-pills > li > a.important { color: rgb(185, 74, 72); }
.nav-pills > li > a.important:hover { color: rgb(116, 46, 45); }
.nav-pills > .active > a.warning, .nav-pills > .active > a.warning:hover { background-color: rgb(248, 148, 6); color: white; }
.nav-pills > li > a.warning{ color: rgb(248, 148, 6); }
.nav-pills > li > a.warning:hover { color: rgb(155, 93, 4); }
/*.nav-pills > .active > a.info, .nav-pills > .active > a.info:hover { background-color: rgb(); }*/
</style>
{% endblock %}

{% block content %}

<div class="third-width">
<section>
<!--You are: {{ curmember.user }}-->
	<a href="bodun"><span class="icon-edit edit-icon" style="float:right"></span></a>
	<!--<h2>Mæting</h2>-->
	<ul class="nav nav-pills">
		<li class="active"><a class="success" href="#attendance" data-toggle="tab">Mæting</a></li>
		<li><a class="important" href="#absense" data-toggle="tab">Fjarri</a></li>
		<li><a class="warning" href="#unclear" data-toggle="tab">Óvíst</a></li>
		<li><a href="#invitation" data-toggle="tab">Boðun</a></li>
	</ul><!-- nav-tabs -->
<div class="tab-content">
<div  class="tab-pane active" id="attendance">
	<ul style="list-style: none; margin-left:0;">
{% for event_role in event.eventrole_set.all %}
		<li style="margin: 0 1em;"><div style="border-bottom: 1px solid #eee;">{{ event_role.role.title }} <span style="font-size:smaller; color: gray; float: right;">{{ event_role.minimum }}〜{% if event_role.maximum == 0 %}∞{% else %}{{ event_role.maximum }}{% endif %}</span></div>
			<ul>
	{% for memberresponse in event_role.memberresponse_set.all %}
		{% if memberresponse.response == 'Y' %}
				<li><a href="/felagi/{{ memberresponse.member.user.username }}">{{ memberresponse.member.user.first_name }} {{ memberresponse.member.user.last_name }}</a></li>
		{% endif %}
	{% endfor %}
			</ul>
		</li>
{% endfor %}
	</ul>
</div>
<!-- Absense -->
<div  class="tab-pane" id="absense">
	<ul style="list-style: none; margin-left:0;">
{% for event_role in event.eventrole_set.all %}
		<li style="margin: 0 1em;"><div style="border-bottom: 1px solid #eee;">{{ event_role.role.title }} <span style="font-size:smaller; color: gray; float: right;">{{ event_role.minimum }}〜{% if event_role.maximum == 0 %}∞{% else %}{{ event_role.maximum }}{% endif %}</span></div>
			<ul>
	{% for memberresponse in event_role.memberresponse_set.all %}
		{% if memberresponse.response == 'N' %}
				<li><a href="/felagi/{{ memberresponse.member.user.username }}">{{ memberresponse.member.user.first_name }} {{ memberresponse.member.user.last_name }}</a></li>
		{% endif %}
	{% endfor %}
			</ul>
		</li>
{% endfor %}
	</ul>
</div>
<!-- Unclear -->
<div  class="tab-pane" id="unclear">
	<ul style="list-style: none; margin-left:0;">
{#{% for event_role in event.eventrole_set.all %}#}
{% for event_role, ims in invitedmembers.iteritems %}
		<li style="margin: 0 1em;"><div style="border-bottom: 1px solid #eee;">{{ event_role.role.title }} <span style="font-size:smaller; color: gray; float: right;">{{ event_role.minimum }}〜{% if event_role.maximum == 0 %}∞{% else %}{{ event_role.maximum }}{% endif %}</span></div>
			<ul>
	{% for member in ims %}
				<li><a href="/felagi/{{ member.user.username }}">{{ member.user.first_name }} {{ member.user.last_name }}</a></li>
	{% endfor %}
	{# {% for member in invitedmembers[event_role.id] %} #}
	<!--			<li><a href="/felagi/{{ member.user.username }}">{{ member.user.first_name }} {{ member.user.last_name }}</a></li>-->
	{#{% endfor %}#}
			</ul>
		</li>
{% endfor %}
	</ul>
</div>
<!-- Invitations -->
<div class="tab-pane" id="invitation">
	<ul style="list-style: none; margin-left:0;">
{% for event_role in event.eventrole_set.all %}
		<li style="margin: 0 1em;"><div style="border-bottom: 1px solid #eee;">{{ event_role.role.title }} <span style="font-size:smaller; color: gray; float: right;">{{ event_role.minimum }}〜{% if event_role.maximum == 0 %}∞{% else %}{{ event_role.maximum }}{% endif %}</span></div>
			<ul>
	{% for group in event_role.invited_groups.all %}
				<li><a href="/hopur/{{ group.slug }}">{{ group.title }}</a></li>
	{% endfor %}
			</ul>
			<ul>
	{% for member in event_role.invited_members.all %}
				<li><a href="/felagi/{{ member.user.username }}">{{ member.user.first_name }} {{ member.user.last_name }}</a></li>
	{% endfor %}
			</ul>
		</li>
{% endfor %}
	</ul>
</div>
</div>

</section>
</div>

<div class="twothird-width">
	<section id="event_description">
	<a href="lysing"><span class="icon-edit edit-icon" style="float:right"></span></a>
		<date class="pull-right">{{ event.date_time_begin }}〜{{ event.date_time_end }}</date>
		<h2>{{ event.title }} – <span style="font-size: smaller; color: gray;">{{ event.event_type.title|lower }}</span></h2>
		<div style="margin:0 .5em .5em .5em;">{{ event.description }}</div>
	</section>
	<section style="overflow: auto;">
		<div class="half-width">
			<a href="merki"><span class="icon-edit edit-icon" style="float:right"></span></a>
			<h3>Merki</h3>
			<dl class="dl-horizontal" style="margin-top: 0">
				<dt>Umsjón:<dt><dd>Bækistöðvarhópur</dd>
				<dt>Verkefni:</dt><dd>Fyrsta hjálp</dd>
				<dt>Aðstæður:</dt><dd>Innanhúss, innanbæjar</dd>
				<dt>Tækjanotkun:</dt><dd>Reykur 1, Reykur 4</dd>
			</dl>
			<a href="merki"><span class="icon-edit edit-icon" style="float:right"></span></a>
			<h3>Staðsetning</h3>
			<table style="margin-top: 0;">
				<tr><td>N 65°01,039'	V 21°33,029'</td><td>Söfnunarsvæði slasaðra.</td></tr>
				<tr><td>N 64°34,392'	V 21°39,291'</td><td>Upphafsstaður æfingar.</td></tr>
			</table>
		</div>
		<div class="half-width" style="margin-left: 1em;">
			<img class="pull-right span3" src="/static/img/hengill-husmuli.png" alt="kort" style="width:100%;"/>
	</div>
		</section>
</div>
{% endblock %}
