{% extends "tsar.html" %}
{% block page_title %}{% endblock %}

{% block head %}
<link rel='stylesheet' type='text/css' href='/static/css/fullcalendar.css' />
<!--<script type='text/javascript' src='/static/js/fullcalendar.min.js'></script>-->
<script type='text/javascript' src='/static/js/fullcalendar.mod.js'></script>
<script type='text/javascript'>
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
	//	events: '/vidburdur/',
		events: {
        url: '/vidburdur/',
        //type: 'GET',
        //data: {
        //    custom_param1: 'something',
        //    custom_param2: 'somethingelse'
        //},
        error: function() {
            alert('there was an error while fetching events!');
        },
        //color: 'yellow',   // a non-ajax option
        //textColor: 'black' // a non-ajax option
    },
		firstDay: 1,
		contentHeight: 400,
		weekMode: 'liquid',
		defaultView: 'fiveWeeks',
		monthNames: ['janúar', 'febrúar', 'mars', 'apríl', 'maí', 'júní', 'júlí', 'ágúst', 'september', 'október', 'nóvember', 'desember'],
		monthNamesShort: ['jan', 'feb', 'mar', 'apr', 'maí', 'jún', 'júl', 'ágú', 'sep', 'okt', 'nóv', 'des'],
		dayNames: ['sunnudagur', 'mánudagur', 'þriðjudagur', 'miðvikudagur', 'fimmtudagur', 'föstudagur', 'laugardagur'],
		dayNamesShort: ['sun', 'mán', 'þri', 'mið', 'fim', 'fös', 'lau'],
		weekNumbers: true,
		weekNumberTitle: 'vika',
		columnFormat: {
			month: 'dddd',    // Mon
			week: 'ddd M/d', // Mon 9/7
			day: 'dddd M/d'  // Monday 9/7
		}

    })

});
</script>
<style>
#calendar { background-color: rgba(255,255,255,0.75); }
.fc-event-title { white-space:nowrap; }
.fc-week-number { border: none; }
.fc-week-number div { color: rgb(170, 51, 51); }
.fc-sat, .fc-sun { background-color: #eff; }
.fc-today { background-color: #dee; }

</style>
{% endblock %}

{% block content %}

<ul class="nav nav-pills">
	<li class="active"><a href="#cal" data-toggle="tab">Dagatal</a></li>
	<li><a href="#lists" data-toggle="tab">Viðburðalistar</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="cal">
		<section>
			<div id="calendar"></div>
	  </section>
	</div>

	<div class="tab-pane row" id="lists">

		<div class="col-xs-12 col-sm-6">
			<section id="recent-events">
				<h2>Nýlegir viðburðir</h2>
				<ul>
{% for event in recent_events_list.all %}
					<li><a href="/vidburdur/{{ event.id }}">{{ event.title }}</a> <date>{{ event.date_time_begin.date }}</li>
{% endfor %}
				</ul>
			</section>
		</div>

		<div class="col-xs-12 col-sm-6">
			<section id="upcoming-events">
				<h2>Næstu viðburðir</h2>
				<ul>
{% for event in coming_events_list.all %}
					<li><a href="/vidburdur/{{ event.id }}">{{ event.title }}</a> <date>{{ event.date_time_begin.date }}</li>
{% endfor %}
				</ul>
			</section>
		</div>
<!--
TODO: Maybe we don't really need to differentiate the incidents?
		<div class="col-xs-12 col-sm-12 col-md-4">
			<section id="incidents">
				<h2>Útköll</h2>
				<ul>
{% for event in latest_event_list.all %}
					<li><a href="/vidburdur/{{ event.id }}">{{ event.title }}</a> <date>{{ event.date_time_begin.date }}</li>
{% endfor %}
				</ul>
			</section>
		</div>
-->
	</div><!-- /#lists.row -->
</div><!-- /.tab-contents -->

{% endblock %}
