{% extends "tsar.html" %}
{% load markup %}

{% block head %}
<style>
.nav { margin-bottom: 10px; }
.nav-pills > li > a { padding: .4em; margin-right: .4em; }
.nav-pills > .active > a.success, .nav-pills > .active > a.success:hover { background-color: rgb(70, 136, 71); color: white; }
.nav-pills > li > a.success { color: rgb(70, 136, 71);; }
.nav-pills > li > a.success:hover { color: rgb(44, 85, 44); }
.nav-pills > .active > a.important, .nav-pills > .active > a.important:hover { background-color: rgb(185, 74, 72); color: white; }
.nav-pills > li > a.important { color: rgb(185, 74, 72); }
.nav-pills > li > a.important:hover { color: rgb(116, 46, 45); }
.nav-pills > .active > a.warning, .nav-pills > .active > a.warning:hover { background-color: rgb(248, 148, 6); color: white; }
.nav-pills > li > a.warning{ color: rgb(248, 148, 6); }
.nav-pills > li > a.warning:hover { color: rgb(155, 93, 4); }
/*.nav-pills > .active > a.info, .nav-pills > .active > a.info:hover { background-color: rgb(); }*/
]
#id_title, #event_type, #id_date_time_begin, #id_date_time_end {width: 100% !important; }

</style>
<script type="text/javascript" src="/static/js/tsar.events.js"></script>
<script type="text/javascript" src="/static/js/chosen.jquery.min.js"></script>
<link type="text/css" rel="stylesheet" href="/static/css/chosen.css" />
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript">

function remove_event_response() {
	console.log($(this).attr('data-member'));
};

$(document).ready(function(){
   $('body').delegate('.respond-icon', 'click', function() { respond_to_event(this, 'Event page') } );

	$('body').delegate('.remove-response', 'click', function() { remove_event_response(this) } );

// Place the CSRF token in a js variable so that the form handler can send it to the view.
	//CSRF = "{{ csrf_token|escapejs }}";
	var csrftoken = $.cookie('csrftoken');
	console.log('CSRF (on page):'+csrftoken);

	// Capture click events on edit icons and toggle to the edit form.
	$('.toggle-form').click(function() {
		//console.log('event caught');
		//console.log($(this).data('form_id-prefix')+'-data');
		prefix = $(this).data('form_id-prefix');
		$('#'+prefix+'-data').toggle();
		$('#'+prefix+'-form').toggle();

		// TODO: Not needed on all, but this is a useful hack to force the initial resizing...
		$('#event_description-textarea').trigger('autosize.resize');
	});

	$('#event_description-textarea').autosize({append: "\n"});

	$('.role-dropdown-item').live('click',(function(){
		role_id = $(this).attr('id');
		role_title = $(this).children('a').html();
		$(this).remove();
	node=	'<div class="role_entry">'
		+			'<div class="role_entry-title" style="float:left">'+role_title+'</div>'
		+			'<input type="hidden" name="role['+role_id+'][id]" value="'+role_id+'" />'
		+					'<div style="float:right"><i id="'+role_id+'" class="delete-role-entry icon-remove-sign pull-right" style="cursor: pointer"></i></div>'
		+					'<div style="float:right; margin-right: .5em;">mest:   <input name="role['+role_id+'][max]" class="span6 role-max" type="number" min="0" value="0" max="999" style="width:2em"/></div>'
		+					'<div style="float:right; margin-right: .5em;">minnst: <input name="role['+role_id+'][min]" class="span6 role-min" type="number" min="0" value="0" max="999" style="width:2em"/></div>'
//		+					'<div>'
//		+						'<input name="role['+role_id+'][closed]" class="btn btn-danger span12" type="button" value="lokað" onclick="$(this).toggleClass(\'btn-danger btn-success\');($(this).val()==\'lokað\')?$(this).val(\'opið\'):$(this).val(\'lokað\');" />'
//		+					'</div>'
		+		'<div>'
		+			'<select name="role['+role_id+'][participants][]" multiple data-placeholder="Veldu þáttakendur" class="select-participants">'
		+				'<optgroup label="Hópar og flokkar">'
		+					'{% for group in groups %}'
		+					'<option value="g{{ group.id }}">{{ group.title }}</option>'
		+					'{% endfor %}'
		+				'</optgroup>'
		+				'<optgroup label="Meðlimir">'
		+					'{% for member in members %}'
		+					'<option value="m{{ member.id }}">{{ member }}</option>'
		+					'{% endfor %}'
		+				'</optgroup>'
		+			'</select>'
		+		'</div>'
		+	'</div>'
		+'</div>'; 
		$('#invite-role-list').append(node).children(':last').hide().fadeIn({ duration: 400, queue: false });
		// Causes a jump at the end of the slide:
		//$('#invite-role-list').append(node).children(':last').stop(true, true).hide().slideDown(500).fadeIn({ duration: 400, queue: false });
		$('.select-participants').chosen();
	}));

	$('.select-participants').chosen();
	$('.chosen').chosen();
});
</script>

{% endblock %}

{% block content %}

<div id="response"></div>

<div class="row">
	<div class="span12">
		<div class="alert" style="padding-top: 4px; padding-bottom: 4px; display:none" id="results"></div>
	</div>
</div>
<div class="row">
	<div class="span4">
		<section id="event_roles">

			<form>

			<div id="event_roles-data">
				<ul class="nav nav-pills">
					<li class="active"><a class="success" href="#attending" data-toggle="tab">Mæting {{ total_attending }}</a></li>
					<li><a class="important" href="#absent" data-toggle="tab">Fjarri {{ total_absent }}</a></li>
					<li><a class="warning" href="#unclear" data-toggle="tab">Óvíst {{ total_invited }}</a></li>
					<li><a href="#invitation" data-toggle="tab">Boðun</a></li>
				</ul><!-- nav-pills -->
	
				<div class="tab-content" style="overflow:visible">

{# Create a tab pane for each status: #}
{% for status in status_list %} {# attending absent unclear #}
<div  class="tab-pane {% if status == "attending" %}active{% endif %}" id="{{ status }}">
	<i class="icon-edit pull-right form-edit-icon toggle-form" data-form_id-prefix="event_{{ status }}s" onclick="$('.{{ status }}.edit-interface').toggle()"></i><br />
	<ul id="{{ status }}_roles" style="list-style: none; margin-left:0;">
	{# List each role for this particular status #}
	{% for role in role_data %}
		<li id="role_{{ role.eventrole.role.id }}_entry" style="margin: 0 1em;">
			<div class="role_entry_header">
		{# Display an icon to indicate whether the member is invited and attending or not. #}
		{% if role.cm_status == "not invited" %}
				<span id="role_{{ role.eventrole.role.id}}_status_icon" class="icon-circle-blank not-invited"></span>
		{% else %}
			{% if role.cm_status == "attending" %}
				<span id="role_{{ role.eventrole.role.id}}_status_icon" class="icon-ok-circle"></span>
			{% else %}
				{% if role.cm_status == "absent" %}{#or role.cm_status == "attending elsewhere" %#}
				<span id="role_{{ role.eventrole.role.id}}_status_icon" class="icon-ban-circle"></span>
				{% else %}
				{# role.cm_status == "invited" #}
				<span id="role_{{ role.eventrole.role.id}}_status_icon" class="icon-circle-blank invited"></span>
				{% endif %}
			{% endif %}
		{% endif %}
				<span class="role_entry-title">{{ role.eventrole.role.title }}</span>
				<span class="role_entry-bttns">{{ role.eventrole.minimum }}〜{% if role.eventrole.maximum == 0 %}∞{% else %}{{ role.eventrole.maximum }}{% endif %}</span>
		{% if not role.cm_status == 'not invited' %}
				<span style="float: right;" data-eventrole="{{ role.eventrole.id }}" class="response-icons">
					<span style="float:none;" id="attend-{{ role.eventrole.id }}" data-action="attend" class="respond-icon icon-plus-sign"></span>
					<span style="float:none;" id="absent-{{ role.eventrole.id }}" data-action="absent" class="respond-icon icon-remove-sign"></span>
				</span>
		{% endif %}
			</div>
			<ul id="role_{{ role.eventrole.role.id }}_{{ status }}_members">
		{% if status == "attending" %}
			{% for member in role.attendingmembers %}
				<li id="role_{{ role.eventrole.role.id }}_member_{{ member.user.id }}_entry">
					<a href="/felagi/{{ member.user.username }}">{{ member.user.first_name }} {{ member.user.last_name }}</a>
				{# TODO: condition this on having the rights, if we're going to limit them. #}
					<span class="remove-response {{ status }} edit-interface icon-remove-sign pull-right" style="display: none" data-user="{{ member.id }}" data-eventrole="{{ role.eventrole }}"></span>
				</li>
			{% endfor %}
		{% else %}
			{% if status == "absent" %}
				{% for member in role.absentmembers %}
				<li id="role_{{ role.eventrole.role.id }}_member_{{ member.user.id }}_entry">
					<a href="/felagi/{{ member.user.username }}">{{ member.user.first_name }} {{ member.user.last_name }}</a>
				{# TODO: condition this on having the rights, if we're going to limit them. #}
					<span class="remove-response {{ status }} edit-interface icon-remove-sign pull-right" style="display: none" data-user="{{ member.id }}" data-eventrole="{{ role.eventrole }}"></span>
				</li>
				{% endfor %}
			{% else %}
				{# unclear #}
				{% for member in role.invitedmembers %}
				<li id="role_{{ role.eventrole.role.id }}_member_{{ member.user.id }}_entry">
					<a href="/felagi/{{ member.user.username }}">{{ member.user.first_name }} {{ member.user.last_name }}</a>
				{# TODO: condition this on having the rights, if we're going to limit them. #}
					<span class="remove-response {{ status }} edit-interface icon-remove-sign pull-right" style="display: none" data-user="{{ member.id }}" data-eventrole="{{ role.eventrole }}"></span>
				</li>
				{% endfor %}
			{% endif %}
		{% endif %}
			</ul>
		</li>
	{% endfor %}
	</ul>
</div>
{% endfor %}

<!-- Invitations -->
<div class="tab-pane" id="invitation">
	<div id="event_invitations-data">
		<i class="icon-edit pull-right form-edit-icon toggle-form" data-form_id-prefix="event_invitations"></i><br />
		<ul style="list-style: none; margin-left:0;">
{% for event_role in event.eventrole_set.all %}
			<li style="margin: 0 1em;"><div style="border-bottom: 1px solid #eee;"><span class="role_entry-title">{{ event_role.role.title }}</span> <span style="font-size:smaller; color: gray; float: right;">{{ event_role.minimum }}〜{% if event_role.maximum == 0 %}∞{% else %}{{ event_role.maximum }}{% endif %}</span></div>
				<ul>
	{% for group in event_role.invited_groups.all %}
					<li><a href="/hopur/{{ group.slug }}">{{ group.title }}</a></li>
	{% endfor %}
				</ul>
				<ul>
	{% for member in event_role.invited_members.all %}
					<li><a href="/felagi/{{ member.user.username }}">{{ member.user.first_name }} {{ member.user.last_name }}</a></li>
	{% endfor %}
				</ul>
			</li>
{% endfor %}
		</ul>
	</div><!-- /#event_invitations-data -->
	<div id="event_invitations-form" style="display: none">
		<div class="btn-group pull-right" id="event-invite-button">
			<button class="btn dropdown-toggle" data-toggle="dropdown">Bæta við hlutverki <span class="caret"></span> </button>
			<ul id="role-dropdown" class="dropdown-menu">
   {% for role in event_roles %}
				<li class="role-dropdown-item" id="{{ role.id}}"><a>{{ role.title }}</a></li>
   {% endfor %}
			</ul>
		</div><!-- /#event-invite-button -->
     	<div id="invite-role-list" style="clear:both">

	{% for event_role in event.eventrole_set.all %}
			<div class="role_entry">
				<div class="role_entry-title" style="float:left">{{ event_role.role.title }}</div>
				<input type="hidden" name="role[{{ event_role.role.id }}][id]" value="{{ event_role.role.id }}" />
				<div style="float:right"><i id="{{ event_role.role.id }}" class="delete-role-entry icon-remove-sign pull-right" style="cursor: pointer"></i></div>
				<div style="float:right; margin-right: .5em;">mest:   <input name="role[{{ event_role.role.id }}][max]" class="span6 role-max" type="number" min="0" value="0" max="999" style="width:2em"/></div>
				<div style="float:right; margin-right: .5em;">minnst: <input name="role[{{ event_role.role.id }}][min]" class="span6 role-min" type="number" min="0" value="0" max="999" style="width:2em"/></div>
				<div>
					<select name="role[{{ event_role.role.id }}][participants][]" multiple data-placeholder="Veldu þáttakendur" class="select-participants">
						<optgroup label="Hópar og flokkar">
		{% for group in groups %}
							<option value="g{{ group.id }}"{% if group in event_role.invited_groups.all %} selected="selected"{% endif %}>{{ group.title }}</option>
		{% endfor %}
						</optgroup>
						<optgroup label="Meðlimir">
		{% for member in members %}
							<option value="m{{ member.id }}"{% if member in event_role.invited_members.all %} selected="selected"{% endif %}>{{ member }}</option>
		{% endfor %}
						</optgroup>
					</select>
				</div>
       		</div><!--/#role-entry-->
	{% endfor %}

       	</div><!--invite-role-list-->
      
		<input type="reset" value="Hætta við" class="span2 btn toggle-form" data-form_id-prefix="event_invitations" onclick="$('#results').slideUp();" />
		<input type="submit" value="Vista" class="span2 btn btn-primary oggle-form" data-form_id-prefix="event_invitations" />
	</div><!-- /#event_invitations-form -->
</div><!-- /.tab-pane#invitation -->

				</div><!-- class="tab-content" -->
			</div><!-- id="event_roles-data" -->

		</section>
	</div><!-- class="span4" -->


	<div class="span8">
		<section id="event_description">
			<div id="event_description-data">
				<i class="icon-edit pull-right form-edit-icon toggle-form" data-form_id-prefix="event_description"></i>
				<date class="pull-right">{{ event.date_time_begin|date:"Y-m-d H:i" }}〜{{ event.date_time_end|date:"Y-m-d H:i" }}</date>
<div>
				<h2>{{ event.title }} – <span style="font-size: smaller; color: gray;">{{ event.event_type.title|lower }}</span></h2>
				<div style="margin:0 .5em .5em .5em;">{{ event.description|textile }}</div>
</div>
			</div>
	{# TODO: Should we add some permissions to access the edit form, or do we trust people not to mess things up too much? #}
			<div id="event_description-form" style="display: none">
				<input type="hidden" name="event_id" id="event_id" value=" {{ event.id }}" />
	
				<div class="row-fluid">
					<div class="span5"><input name="title" class="span12" type="text" value="{{ event.title }}"></input></div>
						<div class="span2">
						<select id="event_type" name="event_type">
		{% for type in event_types %}
							<option value="{{ type.pk }}"{% if type.pk == event.event_type.id %} selected="selected"{% endif %}>{{ type.title }}</option>
		{% endfor %}
						</select>
					</div>
					<div class="span2">
						<input id="id_date_time_begin" class="hasDatepicker" type="text" name="date_time_begin" placeholder="Upphaf" value="{{ event.date_time_begin|date:"Y-m-d H:i" }}"></input>
					</div>
					<div class="span2">
						<input id="id_date_time_end" class="hasDatepicker" type="text" name="date_time_end" placeholder="Lok" value="{{ event.date_time_end|date:"Y-m-d H:i" }}"></input>
					</div>
					<!-- Possibly allow duplication, but multiple events is probably overdoing it ...
					<a class="btn span1" id="add_dates_btn" onclick="$('#add_days').slideToggle();$('#add_days_icon').toggleClass('icon-minus');"><i id="add_days_icon" class="icon-plus"></i></a>
					-->
				</div><!-- /.row-fluid -->
	
				<div class="row-fluid">
					<textarea class="span12" id="event_description-textarea" name="description">{{ event.description }}</textarea>
				</div><!-- /.row-fluid -->
				<div style="text-align: right">
					<input type="reset" value="Hætta við" class="span2 btn toggle-form" data-form_id-prefix="event_description" onclick="$('#results').slideUp();" />
					{# TODO: The submit button should post the data and only on success toggle back to displaying the data #}
					<input type="submit" value="Vista" class="span2 btn btn-primary oggle-form" data-form_id-prefix="event_description" />
				</div>
			</div><!-- /#event_description-form -->
		</section>

		<section style="overflow: auto; ">
			<div class="row-fluid">
				<div class="span6">

					<div id="event_tag-data">
						<i class="icon-edit pull-right form-edit-icon toggle-form" data-form_id-prefix="event_tag"></i>
						<h3>Merki</h3>
						<dl class="dl-horizontal" style="margin-top: 0">
							<dt>Umsjón:<dt><dd>Bækistöðvarhópur</dd>
							<dt>Verkefni:</dt><dd>Fyrsta hjálp</dd>
							<dt>Aðstæður:</dt><dd>Innanhúss, innanbæjar</dd>
							<dt>Tækjanotkun:</dt><dd>Reykur 1, Reykur 4</dd>
						</dl>
					</div><!-- /#event_tag-data -->

					<div id="event_tag-form" style="display: none">
						<h3>Merki</h3>
						<div style="text-align: right">
							{# TODO: The cancel button should reset the form and toggle back to displaying the data #}
							<input type="button" value="Hætta við" class="span4 btn toggle-form toggle-form" data-form_id-prefix="event_tag" />
							{# TODO: The submit button should post the data and only on success toggle back to displaying the data #}
							<input type="button" value="Vista" class="span4 btn btn-primary toggle-form" data-form_id-prefix="event_tag" />
						</div>
					</div><!-- /#event_description-form -->

					<div id="event_location-data">
						<i class="icon-edit pull-right form-edit-icon toggle-form" data-form_id-prefix="event_location"></i>
						<h3>Staðsetning</h3>
						<table style="margin-top: 0;">
							<tr><td>N 65°01,039'	V 21°33,029'</td><td>Söfnunarsvæði slasaðra.</td></tr>
							<tr><td>N 64°34,392'	V 21°39,291'</td><td>Upphafsstaður æfingar.</td></tr>
						</table>
					</div><!-- /#event_location-data -->
					<div id="event_location-form" style="display: none">
						<h3>Staðsetning</h3>
						<div style="text-align: right">
							{# TODO: The cancel button should reset the form and toggle back to displaying the data #}
							<input type="button" value="Hætta við" class="span4 btn toggle-form toggle-form" data-form_id-prefix="event_location" />
							{# TODO: The submit button should post the data and only on success toggle back to displaying the data #}
							<input type="button" value="Vista" class="span4 btn btn-primary toggle-form" data-form_id-prefix="event_location" />
						</div>
					</div><!-- /#event_location-form -->
				</div><!-- /.span6 -->

				<div id="event_location-map" class="span6">
					<img src="/static/img/hengill-husmuli.png" alt="kort" style="width:100%;"/>
				</div><!-- /#event_location-map -->

			</div>
			</form>
		</section>
	</div>
</div><!-- /.row -->
{% endblock %}
